<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>YesWeSail</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/trix/dist/trix.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.css">
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css">
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->


</head>

<body ng-cloak ng-app="yeswesailApp" ng-controller="ApplicationCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

  


    <div class="ui container">
        <div class="ui stackable top blue inverted fixed menu">
            <a href="#/" class="item">
                <img src="images/cropped-cropped-YWS-60x70.png">
            </a>

            <div class="right menu">
                <a ng-if="!currentUser.isShipOwner"  class="ui item">
                    <button class="ui inverted basic button">Diventa armatore</button>
                </a>
                <a ui-sref="cart" ng-if="cartQty" class="item">
                    <i class="cart icon"></i>
                    <div class="floating ui red label">{{cartQty}}</div>
                </a>

            
                <a ng-click="popupLogin()" ng-show="!currentUser" class="ui item">
      Accedi
    </a>
               
       
                <a ng-show="currentUser" class="item">
                    <div class="ui usermenu dropdown">
                        <div class="text">
                            <img ng-if="currentUser.imageURL" class="ui avatar image" ng-src="{{currentUser.imageURL}}">
                            <img ng-if="!currentUser.imageURL" class="ui avatar image" ng-src="images/default-icon.png">
                            <span ng-if="currentUser.name">{{currentUser.name}}</span>
                            <span ng-if="!currentUser.name">{{currentUser.email | noemaildomain}}</span>
                            
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">
                                I tuoi viaggi
                            </div>
                            <div ng-click="popupCreateEventDialog()" class="item">
                                Crea Evento
                            </div>

                            <div class="item">
                                Modifica Profilo
                            </div>
                            <div class="item">
                                Impostazioni Account
                            </div>
                            <div ng-click="logout()" class="item">
                                Esci
                            </div>

                        </div>
                    </div>

                </a>
            </div>
        </div>
    </div>

   <div ui-view></div>


    


<div ng-show="!currentUser" class="register banner"><div class="ui container"><div class="ui two centered column grid"><div class="ui seven wide column"><div class="ui large header">Salta a bordo e vivi fantastiche avventure! </div></div><div class="ui column"><div ng-click="popupRegister()" class="ui inverted basic button">Registrati</div></div></div></div> </div>

    
    <footer></footer>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/semantic/dist/semantic.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/trix/dist/trix.js"></script>
    <script src="bower_components/angular-trix/dist/angular-trix.js"></script>
    <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/braintree-web/dist/braintree.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/comefunziona.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/controllers/applicationcontroller.js"></script>
    <script src="scripts/filters/noemaildomain.js"></script>
    <script src="scripts/controllers/global.js"></script>
    <script src="scripts/controllers/events.js"></script>
    <script src="scripts/controllers/eventid.js"></script>
    <script src="scripts/controllers/invalidemail.js"></script>
    <script src="scripts/controllers/create.eventid.js"></script>
    <script src="scripts/controllers/createEvent.js"></script>
    <script src="scripts/services/mapsservice.js"></script>
    <script src="scripts/directives/afterRenderDirective.js"></script>
    <script src="scripts/directives/clickToEdit.js"></script>
    <script src="scripts/directives/shipOwner.js"></script>
    <script src="scripts/directives/tickets.js"></script>
    <script src="scripts/directives/cart.js"></script>
    <script src="scripts/services/cart.js"></script>
    <script src="scripts/controllers/cartsuccess.js"></script>
    <script src="scripts/controllers/carterror.js"></script>
    <script src="scripts/controllers/userid.js"></script>
    <script src="scripts/controllers/adminevents.js"></script>
    <script src="scripts/controllers/adminusers.js"></script>
    <script src="scripts/controllers/adminrequests.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/controllers/addpassenger.js"></script>
    <script src="scripts/controllers/removepassenger.js"></script>
    <!-- endbuild -->
    <script src="scripts/libs/textAngular_custom/textAngular.js"></script>
    <script src="scripts/libs/textAngular_custom/textAngular-sanitize.js"></script>
    <script src="scripts/libs/textAngular_custom/textAngularSetup.js"></script>
</body>

</html>