<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <base href="/">
    <title>YesWeSail</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/trix/dist/trix.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="bower_components/angular-datepicker/dist/angular-datepicker.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="bower_components/slick-lightbox/dist/slick-lightbox.css" />
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
    <!-- endbuild -->
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website"
            , "dismiss": "Got it!"
            , "learnMore": "More info"
            , "link": null
            , "theme": "dark-floating"
        };
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
</head>

<body ng-cloak ng-app="yeswesailApp" ng-controller="ApplicationCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="ui top blue inverted fixed menu">
        <div class="ui container">
            <a href="/" class="item"> <img src="images/cropped-cropped-YWS-60x70.png"> </a>
            <div class="right menu">
                <div class="ui item">
                     <div dropdown-selection ng-model="language" class="ui language dropdown">
                      <input type="hidden" name="language">
                      <div class="default text">{{"index.language" | translate}}</div>
	                      <div class="menu">
	                        <div ng-click="changeLanguage('it_IT')" class="item" data-value="it_IT" ><i style="
    margin-right: 0px;" class="it flag"></i></div>
	                        <div ng-click="changeLanguage('en_US')" class="item" data-value="en_US"><i class="gb flag"></i></div>
	                        <div ng-click="changeLanguage('de_DE')" class="item" data-value="de_DE" ><i class="de flag"></i></div>
						  </div>
                    </div>
                </div>
                <a ng-if="!currentUser.isShipOwner" ng-show="!!currentUser" class="ui item">
                    <button ui-sref="sailorRegistration" class="ui inverted basic button">{{"index.becomeAShipowner" | translate}}</button>
                </a>
                <a ui-sref="cart" class="item">
                	<table>
                	<tr>
                		<td>
		                	<i class="cart icon"></i>
		                </td>
		            </tr>
		            <tr>
		            	<td>
		                    <div ng-if="cartExpires != null" >
<!--			                   	<span countdown='' date="{{cartExpires}}">&nbsp;</span>-->
                                <timer finish-callback="callbackTimer.finished()" end-time="cartExpires">{{minutes}}m {{seconds}}s</timer>
			                </div>
			            </td>
			        </tr>
                	</table> 
                    <div ng-if="cartQty" class="floating ui red label">
                    	{{cartQty}}
                    </div>
                </a> 
                <a ng-click="popupLogin()" ng-show="!currentUser" class="ui item">{{"index.signIn" | translate}}</a>
                <a ng-show="currentUser" class="item">
                    <div class="ui usermenu dropdown" dropdown action="hide">
                        <div class="text"> <img ng-if="currentUser.imageURL" class="ui avatar image" ng-src="{{currentUser.imageURL}}"> <img ng-if="!currentUser.imageURL" class="ui avatar image" ng-src="images/default-icon.jpg"> <span ng-if="currentUser.name">{{currentUser.name}}</span> <span ng-if="!currentUser.name">{{currentUser.email | noemaildomain}}</span> </div> <i class="dropdown icon"></i>
                        <div class="menu">
                            <div ui-sref="userId.profile({userId: currentUser.idUsers})" class="item"> {{"index.myProfile" | translate}} </div>
                            <div ui-sref="userId.events({userId:currentUser.idUsers})" class="item"> {{"index.myEvents" | translate}} </div>
                            <div ng-if="currentUser.isShipOwner" ng-click="popupCreateEventDialog()" class="item"> {{"index.createEvent" | translate}} </div>
                            <div ng-if="currentUser.roleId>8" ui-sref="admin.events" class="item"> {{"index.adminPanel" | translate}} </div>
                            <div ng-click="logout()" class="item"> {{"index.logout" | translate}} </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <div ng-show="!currentUser" class="register banner">
        <div class="ui container">
            <div class="ui two centered column grid">
                <div class="ui ten wide column">
                    <div class="ui large header">{{"index.registrationBanner" | translate}}</div>
                </div>
                <div class="ui four wide column">
                    <div ng-click="popupRegister()" class="ui inverted basic button">{{"index.signUp" | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g)
                , r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyBI8drPiFdG42WrCKu8M3S7jYCTCQRvyF8"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/semantic/dist/semantic.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/trix/dist/trix.js"></script>
    <script src="bower_components/angular-trix/dist/angular-trix.js"></script>
    <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/braintree-web/dist/braintree.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/slick-lightbox/dist/slick-lightbox.js"></script>
    <script src="bower_components/slick-lightbox/dist/slick-lightbox.min.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/jquery-tablesort/jquery.tablesort.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <!-- endbower -->
    <script src="scripts/libs/jquerySort/jquery.tablesorter.min.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/comefunziona.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/controllers/applicationcontroller.js"></script>
    <script src="scripts/filters/noemaildomain.js"></script>
    <script src="scripts/controllers/global.js"></script>
    <script src="scripts/controllers/events.js"></script>
    <script src="scripts/controllers/eventid.js"></script>
    <script src="scripts/controllers/invalidemail.js"></script>
    <script src="scripts/controllers/create.eventid.js"></script>
    <script src="scripts/controllers/createevent.js"></script>
    <script src="scripts/services/mapsservice.js"></script>
    <script src="scripts/directives/afterRenderDirective.js"></script>
    <script src="scripts/directives/clickToEdit.js"></script>
    <script src="scripts/directives/shipOwner.js"></script>
    <script src="scripts/directives/tickets.js"></script>
    <script src="scripts/directives/cart.js"></script>
    <script src="scripts/services/cart.js"></script>
    <script src="scripts/controllers/cartsuccess.js"></script>
    <script src="scripts/controllers/carterror.js"></script>
    <script src="scripts/controllers/userid.js"></script>
    <script src="scripts/controllers/adminevents.js"></script>
    <script src="scripts/controllers/adminusers.js"></script>
    <script src="scripts/controllers/adminrequests.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/controllers/addpassenger.js"></script>
    <script src="scripts/controllers/removepassenger.js"></script>
    <script src="scripts/controllers/sailor-registration.js"></script>
    <script src="scripts/libs/textAngular_custom/textAngular.js"></script>
    <script src="scripts/libs/textAngular_custom/textAngular-sanitize.js"></script>
    <script src="scripts/libs/textAngular_custom/textAngularSetup.js"></script>
    <script src="scripts/controllers/userid.profile.js"></script>
    <script src="scripts/controllers/userid.boats.js"></script>
    <script src="scripts/controllers/userid.documents.js"></script>
    <script src="scripts/controllers/userid.info.js"></script>
    <script src="scripts/controllers/reset-password.js"></script>
    <script src="scripts/controllers/register.success.js"></script>
    <script src="scripts/controllers/tickets.confirm.js"></script>
    <script src="scripts/controllers/cart.js"></script>
    <script src="scripts/controllers/dynamicPage.js"></script>
    <script src="scripts/controllers/dynamicPage.edit.js"></script>
    <!-- endbuild -->
</body>

</html>