<div class="admin-events-container">
 
<table class="ui compact sortable selectable celled  table">
  <thead>
    <tr>
      <th>Select</th>
      <th  class="ui fitted center aligned">Actions</th>
      <th>Status</th>
      <th>ID</th>
      <th>Type</th>
      <th>Issued By</th>
      <th>Link</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
    
  <tbody>
    <tr ng-class="{'error': request.status=='I', 'positive': request.status=='A', 'warning': request.status=='P'}" ng-repeat="request in requests">
        <td class="collapsing">
         <div class="ui fitted center aligned checkbox">
          <input type="checkbox" ng-model="selectedrequests"> <label></label>
        </div>
      </td>
      <td class="collapsing">
        <div class="ui center aligned">
              <i ng-click="activate(request)" class="large green checkmark link icon"></i>
              <i ng-really-message="Are you sure?" ng-really-click="remove(request)" class="large red trash outline link icon"></i>
              <i ng-click="deactivate(request)" class="large red ban link icon"></i>
              <i ng-click="showClonePopup(request)" class="large grey copy link icon"></i>
              <i ui-sref="editrequest({requestId: request.idrequests})" class="large grey edit link icon"></i>
        </div>
          
      </td>
        <td class="collapsing">
        <div class="ui center aligned">
            <div ng-switch="request.status">
              <div ng-switch-when="A"><i class="large green checkmark icon"></i></div>
              <div ng-switch-when="R"><i class="large red remove icon"></i></div>
              <div ng-switch-when="P"><i class="large yellow wait icon"></i></div>
              <div ng-switch-default>
               
              </div>
            </div>
        </div>
      </td>
      <td class="collapsing">{{request.idPendingActions}}</td>
      <td class="collapsing">{{request.actionType}}</td>
      <td class="collapsing">{{request.userId}}</td>
      <td class="collapsing">{{request.link}}</td>
      <td class="collapsing">{{request.created}}</td>
      <td class="collapsing">{{request.updated}}</td>
       
    </tr>
   
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th><div class="ui small disabled button">
          Approve All
        </div></th>
      <th colspan="9">
        <button ng-click="getrequests()" class="ui small icon labeled green button"><i class="refresh icon"></i>Refresh</button>
        <button ng-click="popupCreaterequestDialog()" class="ui small primary labeled icon button"><i class="user icon"></i> Add request</button>
      </th>
    </tr>
  </tfoot>
</table>

    
    {{reviews}}
</div>