<div class="admin-events-container">
     <div ng-if="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-save-state ui-grid="gridOptions" class="myGrid">
    </div>
    <div class="ui dimmer" ng-class="{'active': requestsLoading}">
            <div class="ui massive text loader">Loading</div>
          </div>
    
<!--
    
<table class="ui compact sortable selectable celled  table">
  <thead>
    <tr>
      <th>{{"adminrequests.gridCols.status" | translate}}</th>
      <th>{{"adminrequests.gridCols.id" | translate}}</th>
      <th>{{"adminrequests.gridCols.type" | translate}}</th>
      <th>{{"adminrequests.gridCols.issuedBy" | translate}}</th>
      <th>{{"adminrequests.gridCols.created" | translate}}</th>
      <th>{{"adminrequests.gridCols.updated" | translate}}</th>
    </tr>
  </thead>
    
  <tbody>
    <tr ng-click="openRequestApprovalDialog(request.link, request.actionType, request.idPendingActions)" ng-class="{'error': request.status=='I', 'positive': request.status=='A', 'warning': request.status=='P'}" ng-repeat="request in requests">
        
     
        <td class="collapsing">
            <div ng-switch="request.status">
              <div ng-switch-when="A"><i class="large green checkmark icon"></i></div>
              <div ng-switch-when="R"><i class="large red remove icon"></i></div>
              <div ng-switch-when="P"><i class="large yellow wait icon"></i></div>
              <div ng-switch-default>
               
              </div>
            </div>
      </td>
      <td class="collapsing">{{request.idPendingActions}}</td>
      <td class="collapsing">{{request.actionType}}</td>
      <td class="collapsing">{{request.userId}}</td>
      <td class="collapsing">{{request.created | date}}</td>
      <td class="collapsing">{{request.updated | date}}</td>
       
    </tr>
   
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th><div class="ui small disabled button">
          {{"global.approveAll" | translate}}
        </div></th>
      <th colspan="9">
        <button ng-click="getRequests()" class="ui small icon labeled green button"><i class="refresh icon"></i>{{"global.refresh" | translate}}</button>
        <button ng-click="popupCreaterequestDialog()" class="ui small primary labeled icon button"><i class="user icon"></i> Add request</button>
      </th>
    </tr>
  </tfoot>
</table>
-->

</div>