<div class="login_container">
    <div class="ui container" ng-if="requestType==='review'">
        <div class="ui middle aligned center aligned grid">
            <div class="column">










                <form class="ui large form">
                    <div class="ui stacked segment">
                        <span ng-switch="requestType">
        <span ng-switch-when="review">
            
            
            <div class="ui comments">
              <div class="comment">
                <a class="avatar">
                  <img ng-src="{{reqDetails.reviewerURL}}">
                </a>
                <div class="content">
                  <a class="author">{{reqDetails.review.reviewerName}} {{reqDetails.review.reviewerSurname}} {{"adminrequests.reviewed" | translate}} {{reqDetails.review.targetName}} {{reqDetails.review.targetSurname}}</a>
                  <div class="metadata">
                    <div class="date">{{reqDetails.review.created | date}}</div>
                    <div class="rating">
                      <i class="star icon"></i>
                      {{reqDetails.review.rating}} {{"adminrequests.stars" | translate}}
                     </div>
                  </div>
                  <div class="text">
                  {{reqDetails.review.review}}
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </span>

                        <span ng-switch-when="statusUpgrade">
          <div class="ui comments">
              <div class="comment">
                <a class="avatar">
                  <img ng-src="{{reqDetails.user.imageURL}}">
                </a>
                <div class="content">
                  <a class="author">{{reqDetails.user.name}} {{reqDetails.user.surname}} {{"adminrequests.shipownerRequest" | translate}}</a>
                  <div class="metadata">
                    
                  </div>
                    
                    <div class="ui link list">
                          <a href="{{doc}}"  target="_blank" ng-repeat="doc in reqDetails.docs" class="item">{{doc.split('/').pop()}}</a>
                        </div>
                    
                    
                </div>
              </div>
            </div>
          </span>

                        </span>

                    </div>
                    <button ng-click="update(reqLink, 'approve', actionId)" class="ui green button">{{"global.approve" | translate}}</button>
                    <button ng-click="update(reqLink, 'reject', actionId)" class="ui red button">{{"global.reject" | translate}}</button>
                    <button ng-click="closeModals()" class="ui button">{{"global.cancel" | translate}}</button>

                </form>

            </div>
        </div>
    </div>
    
    <div ng-if="requestType==='ticketLost'">
        <div class="ui segment">
            <h2>Acquisto biglietto incompleto</h2>
            <div class="ui items">
              <div class="item">
                <div class="image">
                  <img ng-src="{{reqDetails.event.imageURL}}">
                </div>
                <div class="content">
                      <div class="header">{{reqDetails.ticketDetails.description}}</div>
                  <div class="meta">
                    <span class="price">{{reqDetails.ticketDetails.price}}€</span>
                  </div>
                </div>
              </div>
         
                <div class="item">
              <div class="image">
                  <img ng-src="{{reqDetails.user.imageURL}}">
                </div>
                <div class="content">
                  <a class="header">{{reqDetails.user.name}} {{reqDetails.user.surname}}</a>
                  <div class="description">
                    <p>email: <span>{{reqDetails.user.email}}</span></p>
                    <p>phone1: <span>{{reqDetails.user.phone1}}</span></p>
                    <p>phone2: <span>{{reqDetails.user.phone2}}</span></p>
                  </div>
                </div>
              </div>
            </div>
     
            
                 <button ng-click="restoreTicket(actionId, reqDetails.ticketLock.idTicketLocks)" class="ui green button">Restore</button>
                    <button ng-click="closeModals()" class="ui button">{{"global.cancel" | translate}}</button>
    </div>
    </div>
</div>
