<div class="tickets-container">
   <div class="ui header">Evento 1</div>
<table class="ui very basic  celled table">
  <thead>
    <tr><th class="center aligned">Ticket</th>
    <th class="four center aligned wide">Price</th>
    <th class="four center aligned wide">Quantity</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="tickets in bookedTickets track by $index">
        <td>{{tickets[0].description}} </td>
        <td>{{tickets[0].price}}€</td>
        <td>
            {{tickets.length}}
        

            <i ng-really-message="Are you sure?" ng-really-click="removeFromCart(tickets)" class="large red trash outline link icon"></i>
        </td>

    </tr>
    
  </tbody>
    
    
    
</table>
    <div class="ui header">Evento 2</div> 
<table class="ui very basic  celled table">
  <thead>
    <tr><th class="center aligned">Ticket</th>
    <th class="four center aligned wide">Price</th>
    <th class="four center aligned wide">Quantity</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="tickets in bookedTickets track by $index">
        <td>{{tickets[0].description}} </td>
        <td>{{tickets[0].price}}€</td>
        <td>
        <div class="ui tiny input">
            <input type="text" ng-model="tickets.length">
        </div> 
        
        <div class="ui mini icon buttons">
          <button class="ui button"><i class="minus icon"></i></button>
          <button class="ui button"><i class="plus icon"></i></button>
            
        </div>
            <i ng-really-message="Are you sure?" ng-really-click="removeFromCart(tickets)" class="large red trash outline link icon"></i>
        </td>

    </tr>
    
  </tbody>
    
    
    
</table>
    
    
    
   
<button ng-if="paymentProceeded" ng-class="{'loading': inProgress }" ng-click="requestToken()" class="ui button"><i class="money icon"></i>Proceed with payment</button>
    
    <div id="paypal-container"></div>
    
    
    <form id="checkout" action="http://yeswesail.ddns.net:8080/YesWeSail/rest/cart/checkout" method="get">
  <input data-braintree-name="number" value="4111111111111111">
  <input data-braintree-name="expiration_date" value="10/20">
  <input type="submit" id="submit" value="Pay">
</form>
    
</div>