<div class="ui container">
<div class="cart-container">
<cart></cart>
    <div class="ui header">{{"cart.suggestedEvents" | translate}}</div>
<!--
    <div class="ui stackable three column grid">
                <span ng-repeat="multipleEvents in hotEvents track by $index" class="column result-cards">
                    <div ng-click="processEventClick(multipleEvents)" ng-repeat="singleEvent in multipleEvents | limitTo:1 track by $index">
            <div ng-class="{'piled-event':multipleEvents.length>1, 'non-piled-event': multipleEvents.length<2}">
            <div class="result card" >
                <div class="contents">
                    <img ng-src="{{singleEvent.imageURL}}">
                    
                </div>
                
                
                
            </div>
            <div class="ui huge blue ribbon label">
                       {{'global.from'|translate}} {{singleEvent.minPrice}}€
                        <p ng-if="multipleEvents.length>1" class="mini-dates">{{"global.otherDates" | translate}}</p>
                        
                </div>
            <div ng-if="singleEvent.lastMinute" class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div ng-if="singleEvent.earlyBooking" class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>
            <div class="event-details">
                <h2  style="color: white !important;" class="ui medium header">
                {{singleEvent.title}}
                
              
                </h2>
                
                <span>  {{singleEvent.location}}</span>
                <br>
                <span>{{singleEvent.dateStart | date:'dd MMM'}} - {{singleEvent.dateEnd | date:'dd MMM'}}</span>
            </div>


            <ship-owner ship-owner-id="singleEvent.shipOwnerId"></ship-owner>
        </div>
    </div>





    </span>
</div>
-->
    
    
                           <div class="ui stackable doubling three cards">

            
                       <div class="ui letter card" ng-click="processEventClick(multipleEvents)" ng-repeat="multipleEvents in hotEvents track by $index">
                    <div class="content" style="height: 50px; padding: 5px; font-weight: 900;
    font-size: 16px;">
                        <div class="right floated meta">
                            <ship-owner ship-owner-id="multipleEvents[0].shipOwnerId"></ship-owner>
                        </div> {{multipleEvents[0].title}} </div>
                    <div class="image">
                        <div class="card-event-image" ng-style="{'background-image':'url('+multipleEvents[0].imageURL+')'}" style="background-repeat:no-repeat; background-size: cover;">   <div ng-if="multipleEvents[0].lastMinute" class="last-minute-stamp">
                            <img src="images/lastMinute.png">
                                </div>
                        <div ng-if="multipleEvents[0].earlyBooking" class="early-booking-stamp">
                                    <img src="images/earlyBooking.png">
                                </div>
                        </div>
                    </div>
                    <div class="content"> <span class="right floated">
                        <p ng-hide="multipleEvents.length>1"><i class="calendar icon"></i> {{multipleEvents[0].dateStart | date:'dd MMM'}} - {{multipleEvents[0].dateEnd | date:'dd MMM'}}</p>
                        <p ng-if="multipleEvents.length>1"><i class="calendar icon"></i>{{"global.otherDates" | translate}}</p>
                         <span> <i class="marker icon"></i>{{multipleEvents[0].location}}</span> </span> <span>{{'global.from'|translate}} <span class="card-event-price">{{multipleEvents[0].minPrice}}€</span></span><br><br>
                                 
                        <i ng-click="preventD($event)" class="circular facebook icon" socialshare socialshare-provider="facebook" socialshare-text="{{multipleEvents[0].title}}" socialshare-hashtags="yws, yeswesail" socialshare-url="{{url}}events/{{multipleEvents[0].idEvents}}"></i>
<!--                        <i class="circular google icon"></i>-->
                        <i class="circular mail icon" ng-click="email({{multipleEvents[0]}}, $event)"></i>
                    
                    </div>
                 
                </div>
            
            
            
</div>
</div>
</div>