<div class="ui container">
<div class="cart-container">
<cart></cart>
    <div class="ui header">{{"cart.suggestedEvents" | translate}}</div>
    <div class="ui stackable three column grid">
                <span ng-repeat="multipleEvents in hotEvents track by $index" class="column result-cards">
                    <div ng-click="processEventClick(multipleEvents)" ng-repeat="singleEvent in multipleEvents | limitTo:1 track by $index">
            <div ng-class="{'piled-event':multipleEvents.length>1, 'non-piled-event': multipleEvents.length<2}">
            <div class="result card" >
                <div class="contents">
                    <img ng-src="{{singleEvent.imageURL}}">
                    
                </div>
                
                
                
            </div>
            <div class="ui huge blue ribbon label">
                       {{'global.from'|translate}} {{singleEvent.minPrice}}€
                        <p ng-if="multipleEvents.length>1" class="mini-dates">{{"global.otherDates" | translate}}</p>
                        
                </div>
            <div ng-if="singleEvent.lastMinute" class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div ng-if="singleEvent.earlyBooking" class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>
            <div class="event-details">
                <h2  style="color: white !important;" class="ui medium header">
                {{singleEvent.title}}
                
              
                </h2>
                
                <span>  {{singleEvent.location}}</span>
                <br>
                <span>{{singleEvent.dateStart | date:'dd MMM'}} - {{singleEvent.dateEnd | date:'dd MMM'}}</span>
            </div>


            <ship-owner ship-owner-id="singleEvent.shipOwnerId"></ship-owner>
        </div>
    </div>





    </span>
</div>
</div>
</div>