<div class="tickets-container"> 
       
<button ng-if="paymentProceeded && total>0" ng-class="{'loading': inProgress }" ng-click="requestToken()" class="ui button">
    <i class="money icon"></i>{{"cartTemplate.proceed" | translate}}</button>
<button ng-if="paymentProceeded && total>0" ng-click="emptyCart()" class="ui button">
    <i class="remove icon"></i>{{"cartTemplate.emptyCart" | translate}}</button>
    
 <div ng-if="!paymentProceeded" ng-class="{'loading': status.paying}" class="ui center aligned segment">
  <div id="paypal-container"></div>
  <div class="ui horizontal divider">
    {{"global.or" | translate}}
  </div>
     
     <form id="checkout" class="ui form"  action="{{checkoutUrl | trusted}}" method="get">
  
   <div class="fields">
    <div class="seven wide field">
      <label>{{"cartTemplate.cardNumber" | translate}}</label>
      <input type="text" value="4111111111111111" data-braintree-name="number" maxlength="16" placeholder="Card #">
    </div>
<!--
    <div class="three wide field">
      <label>CVC</label>
      <input type="text" maxlength="3" placeholder="CVC">
    </div>
-->
    <div class="six wide field">
      <label>{{"cartTemplate.expiration" | translate}}</label>
      <div class="two fields">
        <div class="field">
          <select class="ui fluid search dropdown" data-braintree-name="expiration_month" >
            <option value="">{{"global.month" | translate}}</option>
            <option value="1">{{"global.month.january" | translate}}</option>
            <option value="2">{{"global.month.february" | translate}}</option>
            <option value="3">{{"global.month.march" | translate}}</option>
            <option value="4">{{"global.month.april" | translate}}</option>
            <option value="5">{{"global.month.may" | translate}}</option>
            <option value="6">{{"global.month.june" | translate}}</option>
            <option value="7">{{"global.month.july" | translate}}</option>
            <option value="8">{{"global.month.august" | translate}}</option>
            <option value="9">{{"global.month.september" | translate}}</option>
            <option value="10">{{"global.month.october" | translate}}</option>
            <option value="11">{{"global.month.november" | translate}}</option>
            <option value="12">{{"global.month.december" | translate}}</option>
          </select>
        </div>
        <div class="field">
          <input type="text" data-braintree-name="expiration_year" value="2020" maxlength="4" placeholder="Year">
        </div>
      </div>
    </div>
  </div>
     <input type="submit" class="ui blue button" id="submit" value="Pay">
     </form>

</div>
     <div ng-if="total>0"  class="ui right aligned segment">
          
        <h2 class="ui header">{{"global.total" | translate}}: {{total}}€</h2>
    </div>
        <div ng-if="bookedEvents==0" class="ui center aligned segment">
          
        <h2 class="ui header">{{"cartTemplate.noTicketsInCart" | translate}}</h2>
    </div>
    
    
   <div class="ui segment" ng-repeat="event in bookedEvents">
     <div class="ui header">{{event.title}}
        <div class="ui sub header">{{event.location}}</div>
        <div class="ui sub header">{{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}}</div>
       
       </div>
    
       <table class="ui very basic  celled table">
      <thead>
        <tr>
            <th ng-if="paymentProceeded" class="">{{"cartTemplate.gridsCol.selected" | translate}}</th>
            <th class="">{{"cartTemplate.gridsCol.ticket" | translate}}</th>
            <th class="">{{"cartTemplate.gridsCol.price" | translate}}</th>
            <th class="">{{"cartTemplate.gridsCol.timeLeft" | translate}}</th>
      </tr></thead>
      <tbody>
    <tr ng-repeat="ticket in event.tickets track by $index">
        
        
        <td ng-if="paymentProceeded" class="collapsing"><div class="ui fitted center aligned checkbox">
          <input ng-change="recalculateTotal()" type="checkbox" ng-model="ticket.toBuy"> <label></label>
        </div></td>
        <td>{{ticket.ticketDescription}} </td>
        <td>{{ticket.price}}€</td>
        <td><timer finish-callback="callbackTimer.finished()" end-time="ticket.lockTime">{{minutes}} m, {{seconds}} s</timer></td>
       

    </tr>
    
  </tbody>
    
    
    
</table>
    
    </div>
   
   
    
    
    

    
    
    
    
  
    
</div>