
<br>
<br>
<br>
<br>
<br>
<br>



<div class="ui container" style="color: #A0A7B4;">
    <div class="ui segment">
	<p style="text-align: left;">
	<strong>{{"howItWorks.statement" | translate}}</strong></p>
        <p style="text-align: left;">
        	{{"howItWorks.p1" | translate}}
        </p>
        <p>
        	<img  src="/images/howItWorks.png" width=100%>
        </p>
        
        
        <p style="text-align: left;">
        	{{"howItWorks.p2" | translate}} &nbsp;
        	<strong>{{"howItWorks.p3" | translate}}</strong><br>
			{{"howItWorks.p4" | translate}}
		</p>
        <p style="text-align: center;"> 
        	<strong> 
        		<a href="{{url}}dynamic/communityRules" target="_blank"> 
        			{{"global.guide" | translate}} 
        		</a>
       		</strong>|&nbsp; 
       		<b>
   			<a href="{{url}}dynamic/privacy/" target="_blank"> 
   				{{"howItWorks.usagePolicy" | translate}} 
   			</a> 
   			&nbsp;| 
   			<a href="{{url}}dynamic/shipownerPolicy" target="_blank"> 
   				{{"howItWorks.shipownerPolicy" | translate}} 
   			</a>
   			</b> 
   		</p> 
</div>
</div>

<br>
<br>
<br>

