<div class="ui container">
    <br />
    <h2 class="ui center aligned icon header">
  <div class="content">
   Contacts
 
      </div>
</h2>
    <br />
    <br />
    <br />
    <div class="ui two columns grid stackable ">
    
     
    
        <div class="column"><h4 class="ui icon header">
  <i class="small call icon"></i>
  <div class="content">
   Give us a call
    <div class="sub header">Use one of the following informations to get in touch with us
      </div>
      </div>
</h4>
            <table class="ui selectable very basic table">
  
  <tbody>
    <tr>
      <td><i class="call icon"></i> Phone</td>
      <td>+39 0212345649</td>
    </tr>
    <tr>
      <td><i class="mobile icon"></i>Mobile</td>
      <td>+39 3895369222</td>
    </tr>
    <tr>
      <td><i class="mail icon"></i>Email</td>
      <td>info@yeswesail.com</td>
    </tr>
  </tbody>
</table>
            </div>
    <div class="column">
<!--
        <h4 class="ui icon header">
  <i class="mail icon"></i>
  <div class="content">
    Send us a message
    <div class="sub header">Don't like calling? Send us a message!</div>
  </div>
</h4>
-->
        <h4 class="ui icon header">
  <i class="small mail icon"></i>
  <div class="content">
   Send us a message
    <div class="sub header">Don't like calling? Send us a message and we'll respond as soon as possible to help you.
      </div>
      </div>
</h4>
        <form class="ui form" name="contactsForm" novalidate ng-submit="contactsForm.$valid && sendEmail(email)">
            {{loginform.$valid}}
          <div class="field" ng-class="{'error': contactsForm.name.$invalid && contactsForm.name.$dirty}">
            <label>Name</label>
            <input type="text" name="name" required ng-model="email.name" placeholder="Name">
          </div>
          <div class="field" ng-class="{'error': contactsForm.email.$invalid && contactsForm.email.$dirty}">
            <label>Email</label>
            <input type="text" required name="email" required placeholder="Email" ng-model="email.email">
          </div>
          <div class="field" ng-class="{'error': contactsForm.subject.$invalid && contactsForm.subject.$dirty}">
            <label>Subject</label>
            <input type="text" name="subject" required placeholder="Subject" ng-model="email.subject" >
    </div>
          <div class="field" ng-class="{'error': contactsForm.message.$invalid && contactsForm.message.$dirty}">
            <label>Message</label>
            <textarea placeholder="Message" required ng-model="email.message" name="message"></textarea>
          </div>
<!--
            <div class="ui negative message" ng-class="{'hidden': contactsForm.$valid}">
              <div class="header">
                Please check the required fields
              </div>
              </div>
-->
          <input class="ui button" type="submit" value="Send">
        </form>
    </div>
</div>