<div style="background-repeat:no-repeat; background-size: cover;" class="cover-img">


</div>
<!--
<div class="ui six item bottom attached menu">
    <a class="active item">Gallery</a>
    <a class="item">Partecipants</a>
    <a class="item">Logistics</a>
    <a class="item">Place</a>
    <a class="item">Packages</a>
    <a class="item">Optionals</a>
</div>
-->


<div class="ui anchor-menu sticky attached stackable menu">
    <div class="ui container">
        <a class="item">
            <i class="home icon"></i> Gallery
        </a>
        <a class="item">
            <i class="grid layout icon"></i> Partecipants
        </a>
        <a class="item">
            <i class="mail icon"></i> Logistics
        </a>
        <a class="item">
            <i class="mail icon"></i> Location
        </a>
        <a class="item">
            <i class="mail icon"></i> Package
        </a>
        <a class="item">
            <i class="mail icon"></i> Optionals
        </a>

    </div>
</div>



<div id="event-container">
    <div class="ui two column stackable container grid">
        <div class="row header-container">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="twelve wide column">


                        <div class="ui items">
                            <div class="item">
                                <div class="image">
                                    <img ng-src="{{event.shipOwner.imageURL}}">
                                    <h4 class="ui center aligned header">{{shipOwner.name}} {{shipOwner.surname}}</h4>
                                </div>
                                <div class="content">


                                    <a class="header">
                                        <div click-to-edit="event.title"></div>
                                    </a>

                                    <div class="meta">
                                        <div click-to-edit="event.location"></div>
                                    </div>
                                    <div class="extra">
                                        <div class="ui input">
                                            <datepicker date-format="yyyy-MM-dd">

                                                <input type="text" name="dateFrom" ng-model="event.dateStart" placeholder="From...">

                                            </datepicker>
                                        </div>

                                        <div class="ui input">
                                            <datepicker date-format="yyyy-MM-dd">

                                                <input type="text" name="dateFrom" ng-model="event.dateEnd" placeholder="To...">

                                            </datepicker>
                                            <div class="ui input">


                                            </div>
                                            <div class="description">

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>



                    </div>
                    <div class="four wide column">
                        <div class="ui book sticky">

                            <div class="ui segment">
                                <p class="ui header">Editor Options</p>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="language">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Language</div>
                                    <div class="menu">
                                        <div class="item" ng-click="setLanguage('IT')" data-value="1">IT</div>
                                        <div class="item" ng-click="setLanguage('EN')" data-value="0">EN</div>
                                    </div>
                                </div>
                                <button ng-click="saveEvent()" class="ui blue icon button">
                                    Save
                                </button>
                                <button class="ui teal icon button">
                                    Cancel
                                </button>


                            </div>
                        </div>


                    </div>
                </div>
</div>
</div>
                <div class="ui divider"></div>
                <div class="row">

                    <div class="twelve wide column">
                        <div class="ui header">Description</div>


                        <div text-angular ng-model="description.description"></div>

                    </div>

                </div>
                <div class="ui divider"></div>
                <div class="row">
                    <div class="twelve wide column">

                        <div class="ui container">
                            <button class="ui blue button" ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button>
                            <br>

                            <div ng-if="progress" class="ui blue large progress" data-percent="{{progress}}" id="file-upload-progress">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                                <div class="label">Uploading Files</div>
                            </div>
                            <br>

                        </div>

                        <ul rn-carousel-auto-slide rn-carousel class="image">
                            <li ng-repeat="image in images">
                                <div ng-style="{'background-image':'url('+image+')'}" style="background-repeat:no-repeat; background-size: cover;" class="image-slide">
                                    <button ng-click="deleteImage(image)" class="ui icon button"> <i class="big link trash outline icon"></i></button>
                                </div>


                            </li>
                        </ul>


                    </div>
                </div>

                <div class="ui divider"></div>

                <div class="row">
                    <div class="twelve wide column">
                        <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Logistics
                </h2>
                        <div text-angular ng-model="logistics.description"></div>
                    </div>

                </div>
                <div class="ui divider"></div>

                <div class="row">
                    <div class="twelve wide column">
                        <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Includes
                </h2>
                        <div text-angular ng-model="includes.description"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="twelve wide column">
                        <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Excludes
                </h2>
                        <div text-angular ng-model="excludes.description"></div>
                    </div>

                </div>

                <div class="ui divider"></div>
                <div class="row">
                    <div class="twelve wide column">
                        <h2 class="ui left aligned header">
                    <img class="ui mini image" src="http://simpleicon.com/wp-content/uploads/boat-2.png">
                        The Boat
                </h2>

                        <img ng-src="http://www.rottediportolano.com/uploads/styles/shadowbox-copy/public/boat-jeanneau_yacht_plans_20120713112835_0.jpg?itok=pO4lFyZ2">

                    </div>

                </div>





            </div>







            <div class="ui container">
                <div class="ui menu">
                    <div class="ui category search item">
                        <div class="ui action labeled input">
                            <div class="ui label">
                                Boarding place
                            </div>
                            <input ng-autocomplete ng-model="autocomplete" options="options" details="mapDetails" type="text" placeholder="Search...">
                            <button ng-click="searchLocation()" class="ui button">Search</button>
                        </div>




                    </div>
                </div>
                <div class="ui segment">
                    <div class="angular-google-map-container">
                        <ui-gmap-google-map refresh="refresh" events="map.events" options='map.options' center='map.center' zoom='map.zoom' control='map.control'>
                        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords"  idkey="marker.id" control="marker.control">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                        
                         
                    </div>
                </div>




            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

 
<footer></footer>