<div ng-if="event.imageURL" ng-style="{'background-image':'url('+event.imageURL+')'}" style="background-repeat:no-repeat; background-size: cover;" class="cover-img">
    <div class="ui button" ng-click="calculateBackgroundPositionUp(30)">UP</div>
    <div class="ui button" ng-click="calculateBackgroundPositionDown(30)">DOWN</div>
</div>
<div class="ui anchor-menu attached stackable menu">
    <div class="ui container"> <a class="item">
           {{"event.gallery" | translate}}
        </a> <a class="item">
           {{"event.participants" | translate}}
        </a> <a class="item">
            {{"event.logistics" | translate}}
        </a> <a class="item">
           {{"event.location" | translate}}
        </a> <a class="item">
            {{"event.package" | translate}}
        </a> <a class="item">
            {{"event.optionals" | translate}}
        </a>
        <div class="right menu">
            
          <div class="ui language dropdown item" dropdown action="hide">
    {{selectedLanguage.substring(0, 2).toUpperCase()}}
    <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" ng-click="setLanguage('it_IT')" data-value="it_IT">IT</div>
            <div class="item" ng-click="setLanguage('en_US')" data-value="en_US">EN</div>
            <div class="item" ng-click="setLanguage('de_DE')" data-value="de_DE">DE</div>
        </div>
  </div>

<!--
            <select ng-model="selectedLanguage" name="editorLanguage" class="ui dropdown item" dropdown-simple action="activate">
                <option value="">Please Choose</option>
                <option value="{{lang}}" ng-repeat="lang in ['en_US', 'it_IT', 'de_DE']">{{lang.substring(0, 2).toUpperCase()}}</option>
            </select> 
-->
            
<!--            {{selectedLanguage}}-->
            
            
            
            <a ng-click="saveEvent()" class="item">    
            {{"global.save" | translate}}
<!--
            <button  class="ui blue icon button">
                Save
            </button>
-->
        </a> </div>
    </div>
</div>
<div id="event-container" ng-disable-scroll="true">
    <div class="ui active dimmer" ng-class="{'active': eventLoading}">
    <div class="ui massive text loader">Loading</div>
  </div>
    <form name="eventForm">
    <div class="ui column stackable container grid">
        <div class="row header-container">
            <div class=" column">
                <div class="ui grid">
                    <div class=" column">
                        <div class="ui items">
                            <div class="item">
                                <div class="image"> <img ng-src="{{shipOwner.imageURL}}">
                                    <h4 class="ui center aligned header">{{shipOwner.name}} {{shipOwner.surname}}</h4> </div>
                                <div class="content">
                                    <a class="header title-edit">
                                        <div class="ui labeled fluid input">
                                            <div class="ui label">{{'global.title' | translate}}</div>
                                            <input type="text" ng-model="event.title"> </div>
                                        <!--                                        <div click-to-edit="event.title"></div>-->
                                    </a>
                                    <div class="meta">
                                        <div class="ui labeled input">
                                            <div class="ui label">{{'event.location' | translate}}</div>
                                            <input name="eventLocation" type="text" ng-model="event.location"> 
                                                </div>
                                        
                                        <div class="ui labeled input">
                                            <div class="ui label">{{'create.event.category' | translate}}</div>
                                            <select after-render="initializeSelect()" ng-model="event.categoryId" ng-options="eventCategory.categoryId as eventCategory.description for eventCategory in CATEGORIES" class="ui dropdown type item">
                                            </select>
                                        </div>
                                        
                                        
                                        
                                        <!--                                        <div click-to-edit="event.location"></div>--></div>
                                    <div class="extra">
                                        <div class="ui labeled input">
                                            <div class="ui label">{{'global.from' | translate}}</div>
                                            <datepicker date-set="{{event.dateStart.toString()}}" date-min-limit="{{minDate.toString()}}" date-format="yyyy/MM/dd">
                                                <input type="text" name="dateFrom" ng-model="event.dateStart" placeholder='{{"global.from" | translate}}'> </datepicker>
                                        </div>
                                        <div class="ui labeled input">
                                            <div class="ui label">{{'global.to' | translate}}</div>
                                            <datepicker date-set="{{event.dateEnd.toString()}}" date-min-limit="{{event.dateStart.toString()}}" date-format="yyyy/MM/dd">
                                                <input type="text" date-min-limit="{{event.dateStart.toString()}}" name="dateTo" ng-model="event.dateEnd" placeholder='{{"global.to" | translate}}'> </datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class=" column">
                <div class="ui header event-header">{{"global.description" | translate}}</div>
                <div text-angular ng-model="description.description"></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class=" column">
                <div class="ui container">
                    <button class="ui blue button" ngf-select="uploadFiles($files)" multiple accept="image/*">{{"global.selectFiles" | translate}}</button>
                    <br>
                    <div ng-if="progress" class="ui blue large progress" data-percent="{{progress}}" id="file-upload-progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">{{"global.uploadingFiles" | translate}}</div>
                    </div>
                    <br> </div>
                <!--
                        <ul rn-carousel-auto-slide rn-carousel class="image">
                            <li ng-repeat="image in images">
                                <div ng-style="{'background-image':'url('+image+')'}" style="background-repeat:no-repeat; background-size: cover;" class="image-slide">
                                    <button ng-click="deleteImage(image)" class="ui icon button"> <i class="big link trash outline icon"></i></button>
                                </div>


                            </li>
                        </ul>
-->
                <!--
                         <a href="/events?categoryId={{category.categoryId}}" ng-if="!!category.url">

                                <div dimmer on="hover" class="ui image">
                                <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <h2 class="ui inverted header">{{category.description}}</h2>
                                  </div>
                                </div>
                              </div>
                              <img  class="ui image"  ng-src="{{category.url}}">
                                    </div>
                        </a>
-->
                <div id="slick-demo" class="ui small images">
                    <a href ng-repeat="image in imagesSmall">
                        <div dimmer on="hover" class="ui image">
                            <div class="ui dimmer image-edit">
                                <div class="content">
                                    <div class="center">
                                        <button ng-click="setImageAsDefault(image)" class="ui tiny icon button"> <i class="link star icon"></i></button>
                                        <button ng-click="deleteImage(image)" class="ui tiny icon button"> <i class="link trash outline icon"></i></button>
                                    </div>
                                </div>
                            </div> <img class="item thumbnail-image" ng-src="{{image}}" alt=""> </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class=" column">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.logistics" | translate}}
                </h2>
                <div text-angular ng-model="logistics.description"></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class=" column">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.package" | translate}}
                </h2>
                <div text-angular ng-model="includes.description"></div>
            </div>
        </div>
        <div class="row">
            <div class=" column">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.optionals" | translate}}

                </h2>
                <div text-angular ng-model="excludes.description"></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class=" column">
                <h2 class="ui left aligned header event-header">
                    <img class="ui mini image" src="images/boat-icon.png">
						{{"event.theBoat" | translate}}
                </h2>
                <div class="boats-container">
                    <div class="boats-container-boat-list">
                        <div class="ui massive horizontal divided list">
                            <div ng-click="setSelectedBoat(boat)" class="boat item" ng-class="{'selected': selectedBoat==boat}" ng-repeat="boat in boats"> <img class="ui tiny image" ng-src="{{boat.images[0]}}">
                                <div class="content">
                                    <div class="header">{{boat.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divided items">
                        <div class="item">
                            <!--                        <div class="ui large image"> <img ng-src="{{boat.images[0]}}"> </div>-->
                            <div class="content"> <a class="header">{{selectedBoat.name}}</a>
                                <div class="meta"> <span>{{selectedBoat.model}} - {{selectedBoat.year}} - {{selectedBoat.length}}ft</span> </div>
                                <div class="description">
                                    <table class="ui very basic table">
                                        <tbody>
                                            <tr class="non-clickable">
                                                <td>{{"event.bunks" | translate}}</td>
                                                <td>{{selectedBoat.bunks}}</td>
                                            </tr>
                                            <tr class="non-clickable">
                                                <td>{{"event.cabinsNoBath" | translate}}</td>
                                                <td>{{selectedBoat.cabinsNoBathroom}}</td>
                                            </tr>
                                            <tr class="non-clickable">
                                                <td>{{"event.sharedBathrooms" | translate}}</td>
                                                <td>{{selectedBoat.sharedBathrooms}}</td>
                                            </tr>
                                            <tr class="non-clickable">
                                                <td>{{"event.cabinsWithBath" | translate}}</td>
                                                <td>{{selectedBoat.cabinsWithBathroom}}</td>
                                            </tr>
                                            <tr class="non-clickable">
                                                <td>{{"event.cabinsVIP" | translate}}</td>
                                                <td>{{selectedBoat.cabinsVIP}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div id="slick-boat" class="ui small images">
                                <a href ng-repeat="image in selectedBoat.images | limitTo: 4"><img class="item" ng-src="{{image}}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" column">
                <h2 class="ui left aligned header event-header">
                     <i class="ticket icon"></i>
                        {{"global.tickets" | translate}}
                            
                            
                </h2>
                <table class="ui definition table">
                    <thead>
                        <tr class="center aligned">
                            <th></th>
                            <th ng-repeat="number in getNumber(maxTickets) track by $index">{{$index+1}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{"event.bunks" | translate}}</td>
                            <td ng-repeat="number in getNumber(selectedBoat.bunks) track by $index">
                                <button ng-disabled="tDisabled" ng-if="!!!tempTickets[0][$index].price" ng-click="addTicket(0, $index)" class="ui icon blue button"><i class="plus icon"></i></button>
                                <div ng-if="!!tempTickets[0][$index].price" class="ui fluid input ticket-price">
                                    <input ng-model="tempTickets[0][$index].price" type="text"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"event.cabinsNoBath" | translate}}</td>
                            <td ng-repeat="number in getNumber(selectedBoat.cabinsNoBathroom*2) track by $index">
                                <button ng-disabled="tDisabled" ng-if="!!!tempTickets[1][$index].price" ng-click="addTicket(1, $index)" class="ui icon blue button"><i class="plus icon"></i></button>
                                <div ng-if="!!tempTickets[1][$index].price" class="ui fluid input ticket-price">
                                    <input ng-model="tempTickets[1][$index].price" type="text"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"event.cabinsWithBath" | translate}}</td>
                            <td ng-repeat="number in getNumber(selectedBoat.cabinsWithBathroom*2) track by $index">
                                <button ng-disabled="tDisabled" ng-if="!!!tempTickets[2][$index].price" ng-click="addTicket(2, $index)" class="ui icon blue button"><i class="plus icon"></i></button>
                                <div ng-if="!!tempTickets[2][$index].price" class="ui fluid input ticket-price">
                                    <input ng-model="tempTickets[2][$index].price" type="text"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"event.cabinsVIP" | translate}}</td>
                            <td ng-repeat="number in getNumber(selectedBoat.cabinsVIP*2) track by $index">
                                <button ng-disabled="tDisabled" ng-if="!!!tempTickets[3][$index].price" ng-click="addTicket(3, $index)" class="ui icon blue button"><i class="plus icon"></i></button>
                                <div ng-if="!!tempTickets[3][$index].price" class="ui fluid input ticket-price">
                                    <input ng-model="tempTickets[3][$index].price" type="text"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"event.wholeBoat" | translate}}</td>
                            <td>
                                <button ng-disabled="tDisabled" ng-if="!!!tempTickets[4][0].price" ng-click="addTicket(4, 0)" class="ui icon blue button"><i class="plus icon"></i></button>
                                <div ng-if="!!tempTickets[4][0].price" class="ui fluid input ticket-price">
                                    <input ng-model="tempTickets[4][0].price" type="text"> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <div class="ui container">
        <div class="ui menu">
            <div class="ui category search item">
                <div class="ui action labeled input">
                    <div class="ui label"> {{"event.boardingPlace" | translate}} </div>
                    <input ng-autocomplete ng-model="autocomplete" options="options" details="mapDetails" type="text" placeholder="Search...">
                    <button ng-click="searchLocation()" class="ui button">{{"global.setPosition" | translate}}</button>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="angular-google-map-container">
                <ui-gmap-google-map refresh="refresh" events="map.events" options='map.options' center='map.center' zoom='map.zoom' control='map.control'>
                    <ui-gmap-marker ng-repeat="marker in markers" events="marker.events" click="marker.click" coords="marker.coords" options="marker.options" idkey="marker.id" control="marker.control"> </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    </form>
</div>