<!--
<div ng-if='currentUser' class="ui attached blue inverted stackable menu">
    <a class="green item"><i class="checkmark icon"></i>Approve</a>
    <a class="red item"><i class="remove icon"></i>Remove</a>
    <a class="yellow item"><i class="ban icon"></i>Disapprove</a>
    <a class="grey item"><i class="copy icon"></i>Clone</a>
    <a class="grey item"><i class="edit icon"></i>Edit</a>
</div>
-->
<div ng-style="{'background-image':'url('+event.imageURL+')'}" style="background-repeat:no-repeat; background-size: cover;" class="cover-img">


</div>
<!--
<div class="ui six item bottom attached menu">
    <a class="active item">Gallery</a>
    <a class="item">Partecipants</a>
    <a class="item">Logistics</a>
    <a class="item">Place</a>
    <a class="item">Packages</a>
    <a class="item">Optionals</a>
</div>
-->


<div class="ui anchor-menu sticky attached stackable menu">
    <div class="ui container">
        <a class="item" ng-click="goToSection('gallery')">
            <i class="home icon"></i> Gallery
        </a>
        <a class="item"  ng-click="goToSection('partecipants')">
            <i class="grid layout icon"></i> Partecipants
        </a>
        <a class="item"  ng-click="goToSection('logistics')">
            <i class="mail icon"></i> Logistics
        </a>
        <a class="item"  ng-click="goToSection('location')">
            <i class="mail icon"></i> Location
        </a>
        <a class="item"  ng-click="goToSection('package')">
            <i class="mail icon"></i> Package
        </a>
        <a class="item"  ng-click="goToSection('optionals')">
            <i class="mail icon"></i> Optionals
        </a>

    </div>
</div>



<div id="event-container">
    <div class="ui two column stackable container grid">
        <div class="row header-container">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="twelve wide column">


                        <div class="ui items">
                            <div class="item">
                                <div class="shipOwner image" ui-sref="userId.profile({userId: shipOwner.idUsers})">
                                    <img ng-src="{{shipOwner.imageURL}}">
                                    <h4 class="ui center aligned header">{{shipOwner.name}} {{shipOwner.surname}}</h4>
                                </div>
                                <div class="content">
                                    
                                    
                                    
                                    
                                    
                                    <a class="header">{{event.title}}</a>
                                    <div class="meta">
                                        <span>{{event.location}}</span>
                                    </div>
                                    <div class="extra">
                                        {{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}}
                                    </div>
                                    <div class="description">
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>






                </div>



            </div>
            <div class="four wide column">
                <div class="ui book sticky">
                    <tickets global-tickets="event.tickets"></tickets>
                    

<!--
                    <table class="ui compact celled definition table">
                        <thead class="full-width">
                            <tr>
                                <th>Ticket</th>
                                <th>Price</th>
                                <th>Available</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="ticket[0]" ng-repeat="ticket in event.tickets">
                                
                                <td>{{ticket[0].description}}</td>
                                <td>{{ticket[0].price}}€</td>
                                <td>{{ticket[0].available-ticket[0].booked}}</td>
                                
                                <td>
                                    <div class="ui fluid input">
                                        <input type="text">
                                    </div>
                                </td>

                               

                            </tr>



                        </tbody>
                        <tfoot class="full-width">
                            <tr>

                                <th colspan="4">
                                    <div ng-click="bookTicket()" class="ui right floated small primary button">
                                        Buy</div>

                                </th>
                            </tr>
                        </tfoot>
                    </table>
-->

                    
                    
                    

                    
                    

                    <div class="ui segment">
                        <p>Share with a friend!</p>
                        <button class="ui blue icon button">
                            <i class="facebook icon"></i>
                        </button>
                        <button class="ui teal icon button">
                            <i class="twitter icon"></i>
                        </button>
                        <button class="ui red icon button">
                            <i class="google plus icon"></i>
                        </button>
                        <button class="ui icon button">
                            <i class="linkify icon"></i>
                        </button>

                    </div>
                </div>


            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="twelve wide column"><div ng-bind-html="event.description"></div></div>
            
        </div>
        <div class="ui divider" id="gallery"></div>
        <div class="row">
            <div class="twelve wide column">

                <ul rn-carousel-auto-slide rn-carousel class="image">
                    <li ng-repeat="image in event.images">
                        <div ng-style="{'background-image':'url('+image+')'}" style="background-repeat:no-repeat; background-size: cover;" class="image-slide" ></div>
                      
                        
                    </li>
                </ul>

                </div>
        </div>
        <div class="ui divider" id="partecipants"></div>
        <div class="row">
            <div class="twelve wide column">
                <h2 class="ui left aligned header">
  <i class="users icon"></i>
  Partecipants
</h2>
                <div class="ui massive horizontal divided list">
                    <a ui-sref="userId.profile({userId: participant.idUsers})" ng-repeat="participant in event.participants" class="item">
                        <img class="ui avatar image" ng-src="{{participant.imageURL}}">
                        <div class="content">
                            <div class="header">{{participant.name}}</div>
                        </div>
                    </a>
                </div>


            </div>

        </div>
        <div class="ui divider" id="logistics"></div>

        <div class="row">
            <div class="twelve wide column">
                <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Logistics
                </h2>
                <div ng-bind-html="event.logistics.description"></div>
            </div>

        </div>
        <div class="ui divider" id="package"></div>

        <div class="row">
            <div class="twelve wide column">
                <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Includes
                </h2>
                <div ng-bind-html="event.includes.description"></div>
            </div>

        </div>
        <div class="row" id="optionals">
            <div class="twelve wide column">
                <h2 class="ui left aligned header">
                  <i class="users icon"></i>
                  Excludes
                </h2>
                <div ng-bind-html="event.excludes.description"></div>
            </div>

        </div>

        <div class="ui divider"></div>
        <div class="row">
            <div class="twelve wide column">
                <h2 class="ui left aligned header">
                    <img class="ui mini image" src="http://simpleicon.com/wp-content/uploads/boat-2.png">
    The Boat
                </h2>

                <img ng-src="http://www.rottediportolano.com/uploads/styles/shadowbox-copy/public/boat-jeanneau_yacht_plans_20120713112835_0.jpg?itok=pO4lFyZ2">

            </div>

        </div>





   

<div class="row" id="location">
            <div class="twelve wide column">
                
                
                
        <div class="angular-google-map-container">
            <ui-gmap-google-map ng-if="event.route" options='map.options' center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="{latitude: event.route[0].lat, longitude: event.route[0].lng}" options="marker.options" events="marker.events" idkey="event.route[0].seq">
        </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
    </div>  
    </div>  
    </div>  
      
