<div class="ui container">
     <div class="ui dimmer" ng-class="{'active': eventsLoading}">
    <div class="ui massive text loader">Loading</div>
  </div>
    <div class="search_content">

<!--
        <div class="ui four stackable column grid">

            <div class="three wide column">
                
                   <div ng-if="locationsLoaded" dropdown-search-selection ng-model="selectedLocation" class="ui selection dropdown item">
                      <input type="hidden" name="language">
                      <div class="default text">{{"global.selectLocation" | translate}}</div>
                      <div class="menu">
                          <div class="item" data-value="">{{"global.selectLocation" | translate}}</div>
                          <div ng-repeat="location in LOCATIONS" class="item" data-value="{{location}}">{{location}}</div>
                      </div>
                    </div>

            </div>
            <div class="three wide column">
                
                <div ng-if="categoriesLoaded" dropdown-search-selection ng-model="selectedCategory" class="ui selection dropdown item">
                      <input type="hidden" name="language">
                      <div class="default text">{{"global.selectCategory" | translate}}</div>
                      <div class="menu">
                          <div class="item" data-value="">{{"global.selectCategory" | translate}}</div>
                          <div ng-repeat="category in CATEGORIES" class="item" data-value="{{category.categoryId}}">{{category.description}}</div>
                      </div>
                    </div>
            </div>


            <div class="two wide column"> 
                <a ng-click="search()" class="ui blue button">{{"global.search" | translate}}</a></div>
           
            <div class="five wide column"> 
                <a ng-click="search()" class="ui blue button">{{"global.search" | translate}}</a></div>

        </div>
-->
        
        
        <div class="ui top menu">
            <div ng-if="locationsLoaded" dropdown-search-selection ng-model="selectedLocation" class="ui selection dropdown item">
                      <input type="hidden" name="language">
                        <i class="dropdown icon"></i>
                      <div class="default text">{{"global.selectLocation" | translate}}</div>
                      <div class="menu">
                          <div class="item" data-value="">{{"global.selectLocation" | translate}}</div>
                          <div ng-repeat="location in LOCATIONS" class="item" data-value="{{location}}">{{location}}</div>
                      </div>
                    </div>
            
                <div ng-if="categoriesLoaded" dropdown-search-selection ng-model="selectedCategory" class="ui selection dropdown item">
                      <input type="hidden" name="language">
                    <i class="dropdown icon"></i>
                      <div class="default text">{{"global.selectCategory" | translate}}</div>
                      <div class="menu">
                          <div class="item" data-value="">{{"global.selectCategory" | translate}}</div>
                          <div ng-repeat="category in CATEGORIES" class="item" data-value="{{category.categoryId}}">{{category.description}}</div>
                      </div>
                    </div>
<!--
               <div class="item">
              <div class="ui transparent icon input">
                <input ng-model="searchTitle" type="text" placeholder="Search events...">
                <i class="search icon"></i>
              </div>
            </div>
-->
            
            <a ng-click="search()" class="item ui blue button">{{"global.search" | translate}}</a>
          <div class="right menu">
              <div class="item">
              Sort:
              </div>

           <select ng-model="sortValue" class="ui dropdown item" dropdown-menu action="activate">
              <option value="dateStart">Date</option>
              <option value="title">Title</option>
              <option value="location">Location</option>
              <option value="minPrice">Price</option>
            </select>

<!--
              <div class="item">
                <i ng-click="toggleSortDirection()" class="sort content icon link" ng-class="{'ascending': sortDirection=='-', 'descending': sortDirection==''}"></i>
              </div>
-->




         
          </div>
        </div>
        
    </div>





    <div class="ui basic segment results" >
        
        <!--
                        <div class="ui four stackable cards">
            <div ng-repeat="event in events" class="ui card">
              <div class="content">
                  
                <div class="right floated"><h4></h4></div>
                    
                  <a href="/events/{{event.idEvents}}">{{event.description}}</a>
                  
              </div>
              <div class="image">
                <img ng-src="{{event.imageURL}}">
              </div>
             
                 <div class="content">

Starting at {{event.minPrice}}€
                      <div>{{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}}</div>
                </div>
          
            
            </div>
        </div>
-->


<!--        <div class="ui stackable three column grid">-->
            <!--
        <div class="column result-cards">
            
            <div class="result card">
                
                <div class="contents">
                    <img ng-src="{{event.imageURL}}">
                    
                </div>
                
                
                
            </div>
            <div class="ui huge blue ribbon label">
                        {{event.minPrice}}€
                </div>
            <div class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>

            <ship-owner></ship-owner>
        </div>
-->



            <!--
<div ui-sref="event({eventId: event.idEvents})" ng-class="{'layered-paper':!!event.aggregateKey, 'non-layered-paper': !!!event.aggregateKey}" class="column result-cards" ng-repeat="event in events">
            
            <div class="result card">
                
                <div class="contents">
                    <img ng-src="{{event.imageURL}}">
                    
                </div>
                
                
                
            </div>
            <div class="ui huge blue ribbon label">
                        {{event.minPrice}}€
                </div>
            <div ng-if="event.lastMinute" class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div ng-if="event.earlyBooking" class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>
     <div class="event-details">
                <h2  style="color: white !important;" class="ui medium header">
                {{event.title}}
                
              
                </h2>
                
                <span>  {{event.location}}</span><br>
                <span>{{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}}</span>
                </div>
            <ship-owner ship-owner-id="event.shipOwnerId"></ship-owner>
        </div>
-->
<!--

            <span ng-repeat="multipleEvents in events track by $index" class="column result-cards">
        <div ng-click="processEventClick(multipleEvents)" ng-repeat="singleEvent in multipleEvents | limitTo:1 track by $index">
            <div ng-class="{'piled-event':multipleEvents.length>1, 'non-piled-event': multipleEvents.length<2}">
            
            <div class="result card">
                
                <div class="contents">
                    <img ng-src="{{singleEvent.imageURL}}" fallback-src="images/defaultEvent.png">
                    
                </div>
                
                
                
            </div>
            <div class="ui medium blue ribbon label">
                         {{'global.from'|translate}} {{singleEvent.minPrice}}€
                        <p ng-if="multipleEvents.length>1" class="mini-dates">{{"global.otherDates" | translate}}</p>
                </div>
            <div ng-if="singleEvent.lastMinute" class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div ng-if="singleEvent.earlyBooking" class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>
     <div class="event-details">
                <h2  style="color: white !important;" class="ui small header">
                {{singleEvent.title}}
                
              
                </h2>
                
                <span>  {{singleEvent.location}}</span>
            <br>
            <span>{{singleEvent.dateStart | date:'dd MMM'}} - {{singleEvent.dateEnd | date:'dd MMM'}}</span>
        </div>
        <ship-owner ship-owner-id="singleEvent.shipOwnerId"></ship-owner>
    </div>


</div>
</span>
-->
                        <div class="ui stackable doubling three cards">

            
                       <div class="ui letter card" ng-click="processEventClick(multipleEvents)" ng-repeat="multipleEvents in events | orderBy:secondIndex track by $index">
                    <div class="content" style="height: 70px; padding: 5px; font-weight: 900;
    font-size: 16px;">
                        <div class="right floated meta">
                            <ship-owner ship-owner-id="multipleEvents[0].shipOwnerId"></ship-owner>
                        </div> {{multipleEvents[0].title}} </div>
                    <div class="image">
                        <div class="card-event-image" ng-style="{'background-image':'url('+multipleEvents[0].imageURL+')'}" style="background-repeat:no-repeat; background-size: cover;">   <div ng-if="multipleEvents[0].lastMinute" class="last-minute-stamp">
                            <img src="images/lastMinute.png">
                                </div>
                        <div ng-if="multipleEvents[0].earlyBooking" class="early-booking-stamp">
                                    <img src="images/earlyBooking.png">
                                </div>
                        </div>
                    </div>
                    <div class="content"> <span class="right floated">
                        <p ng-hide="multipleEvents.length>1"><i class="calendar icon"></i> {{multipleEvents[0].dateStart | date:'dd MMM'}} - {{multipleEvents[0].dateEnd | date:'dd MMM'}}</p>
                        <p ng-if="multipleEvents.length>1"><i class="calendar icon"></i>{{"global.otherDates" | translate}}</p>
                         <span> <i class="marker icon"></i>{{multipleEvents[0].location}}</span> </span> <span>{{'global.from'|translate}} <span class="card-event-price">{{multipleEvents[0].minPrice}}€</span></span><br><br>
                                 
                        <i ng-click="preventD($event)" class="circular facebook icon" socialshare socialshare-provider="facebook" socialshare-text="{{multipleEvents[0].title}}" socialshare-hashtags="yws, yeswesail" socialshare-url="{{url}}events/{{multipleEvents[0].idEvents}}"></i>
<!--                        <i class="circular google icon"></i>-->
                        <i class="circular mail icon" ng-click="email({{multipleEvents[0]}}, $event)"></i>
                    
                    </div>
                 
                </div>
            
            
            
</div>

<div class="ui inverted dimmer">
    <div class="content">
        <div class="center">
            <h4 class="ui icon header">
          <i class="warning big sign icon"></i>
          {{"global.noResults" | translate}}
        </h4>
        </div>
    </div>
</div>
</div>

</div>