<!--
<div ng-if='currentUser' class="ui attached blue inverted stackable menu">
    <a class="green item"><i class="checkmark icon"></i>Approve</a>
    <a class="red item"><i class="remove icon"></i>Remove</a>
    <a class="yellow item"><i class="ban icon"></i>Disapprove</a>
    <a class="grey item"><i class="copy icon"></i>Clone</a>
    <a class="grey item"><i class="edit icon"></i>Edit</a>
</div>
-->
<h2 ng-if="noEventFound==true" class="ui icon center aligned header"><i class="settings icon"></i><div class="content">404 - Event not found<div class="sub header">The requested event was not found or has not been approved yet</div></div></h2>
<div ng-if="noEventFound==false" ng-style="{'background-image':'url('+event.imageURL+')'}" style="background-repeat:no-repeat; background-size: cover;" class="cover-img"> </div>
<!--
<div class="ui six item bottom attached menu">
    <a class="active item">Gallery</a>
    <a class="item">Partecipants</a>
    <a class="item">Logistics</a>
    <a class="item">Place</a>
    <a class="item">Packages</a>
    <a class="item">Optionals</a>
</div>
-->
<div ng-if="noEventFound==false" class="index-fix">
    <div class="ui anchor-menu attached stackable menu">
        <div class="ui container">
            <a class="item" ng-click="goToSection('gallery')"> <i class="home icon"></i>{{"event.gallery" | translate}} </a>
            <a class="item" ng-click="goToSection('partecipants')"> <i class="grid layout icon"></i>{{"event.participants" | translate}} </a>
            <a class="item" ng-click="goToSection('logistics')"> <i class="mail icon"></i>{{"event.logistics" | translate}} </a>
            <a class="item" ng-click="goToSection('location')"> <i class="mail icon"></i>{{"event.location" | translate}} </a>
            <a class="item" ng-click="goToSection('package')"> <i class="mail icon"></i>{{"event.package" | translate}} </a>
            <a class="item" ng-click="goToSection('optionals')"> <i class="mail icon"></i>{{"event.optionals" | translate}} </a>
        </div>
    </div>
</div>
<div ng-show="noEventFound==false" class="ui container" id="event-container">
<!--    <div class="ui basic horizontal segments">-->
        <div class="ui basic segment">
            <div class="header-container">
                <div class="ui items">
                    <div class="item">
                        <div class="content"> <span class="header">{{event.title}}</span>
                            <div class="meta"> <span>{{event.location}}</span> </div>
                            <div class="extra"> {{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}} </div>
                            <div class="description"> </div>
                        </div>
                    </div>
                    <div class="item" ng-click="goToProfile(shipOwner.idUsers)">
                        <div class="shipOwner" > <img ng-src="{{shipOwner.imageURL}}">
                            
                        </div>
                             <div class="content">
                                <h4 class="ui center aligned header">{{shipOwner.name}} {{shipOwner.surname}}</h4>
                                 <div class="description">
                                    <div class="reputation ui star rating"></div> {{reputation.populationSize}} feedback 
                                 </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui basic segment">
                <div ng-bind-html="event.description"></div>
            </div>
            <div class="ui divider" id="gallery"></div>
            <div class="ui basic segment">
                <!--
                <ul rn-carousel-auto-slide rn-carousel class="image">
                    <li ng-repeat="image in event.images">
                        <div ng-style="{'background-image':'url('+image+')'}" style="background-repeat:no-repeat; background-size: cover;" class="image-slide" ></div>
                      
                        
                    </li>
                </ul>
-->
                <div id="slick-demo" class="ui small images">
                    <a href ng-repeat="image in imagesSmall"><img class="item" ng-src="{{image}}" alt=""></a>
                </div>
            </div>
            <div class="ui divider" id="partecipants"></div>
            <div class="ui basic segment">
                <h2 class="ui left aligned header event-header">
  <i class="users icon"></i>
  {{"event.participants" | translate}}
</h2>
                <div class="ui header">{{event.participantMessage}}</div>
                <div class="ui massive horizontal divided list">
                    <a ui-sref="userId.profile({userId: participant.idUsers})" ng-repeat="participant in event.participants" class="item"> <img class="ui avatar image" ng-src="{{participant.imageURL}}">
                        <div class="content">
                            <div class="header">{{participant.name}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui divider" id="logistics"></div>
                    
            <h2 class="ui left aligned header event-header">
  <i class="ticket icon"></i>
  {{"global.tickets" | translate}}
</h2>
            
            <tickets global-tickets="event.tickets"></tickets>
            
            <div class="ui divider" id="logistics"></div>
            <div class="ui basic segment">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.logistics" | translate}}
                </h2>
                <div ng-bind-html="event.logistics.description"></div>
            </div>
            <div class="ui divider" id="package"></div>
            <div class="ui basic segment">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.package" | translate}}
                </h2>
                <div ng-bind-html="event.includes.description"></div>
            </div>
            <div class="ui basic segment" id="optionals">
                <h2 class="ui left aligned header event-header">
                  <i class="users icon"></i>
                  {{"event.optionals" | translate}}
                </h2>
                <div ng-bind-html="event.excludes.description"></div>
            </div>
            <div class="ui divider"></div>
            <div class="ui basic segment">
                <h2 class="ui left aligned header event-header">
                    <img class="ui mini image" src="http://simpleicon.com/wp-content/uploads/boat-2.png">
                {{"event.theBoat" | translate}}
                </h2>
                <div class="ui divided items">
                    <div class="item">
                        <!--                        <div class="ui large image"> <img ng-src="{{boat.images[0]}}"> </div>-->
                        <div class="content"> <a class="header">{{boat.name}}</a>
                            <div class="meta"> <span>{{boat.model}} - {{boat.year}} - {{boat.length}}ft</span> </div>
                            <div class="description">
                                <table class="ui very basic table">
                                    <tbody>
                                        <tr class="non-clickable">
                                            <td>{{"event.cabinsWithBath" | translate}}</td>
                                            <td>{{boat.cabinsWithBathroom}}</td>
                                        </tr>
                                        <tr class="non-clickable">
                                            <td>{{"event.cabinsNoBath" | translate}}</td>
                                            <td>{{boat.cabinsNoBathroom}}</td>
                                        </tr>
                                        <tr class="non-clickable">
                                            <td>{{"event.sharedBathrooms" | translate}}</td>
                                            <td>{{boat.sharedBathrooms}}</td>
                                        </tr>
                                        <tr class="non-clickable">
                                            <td>{{"event.bunks" | translate}}</td>
                                            <td>{{boat.bunks}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div id="slick-boat" class="ui small images">
                            <a href ng-repeat="image in boat.images | limitTo: 4"><img class="item" ng-src="{{image}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            
  
<!--            <tickets class="mobile-only" global-tickets="event.tickets"></tickets>-->
            
            
            
            <div class="ui basic segment" id="location">
                <h2 class="ui left aligned header event-header">
                    <img class="ui mini image" src="http://simpleicon.com/wp-content/uploads/map-8.png">
                {{"event.location" | translate}}
                </h2>
                <div class="angular-google-map-container">
                    <ui-gmap-google-map ng-if="event.route" options='map.options' center='map.center' zoom='map.zoom'>
                        <ui-gmap-marker class='marker-tooltip' ng-repeat="marker in markers" events="marker.events" click="marker.click" coords="marker.coords" options="marker.options" idkey="marker.id" control="marker.control">
                            <ui-gmap-window>
                                <div>{{marker.description}}</div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                        <!--
                        <ui-gmap-markers class='marker-tooltip' models="markers" fit="true" coords="'coords'"  idkey="'id'" options="'options'" icon="'icon'">
                            <ui-gmap-window>
                                <div>{{marker.description}}</div>
                            </ui-gmap-window>
                            </ui-gmap-markers>
-->
                        <!--
                        <ui-gmap-window ng-repeat="marker in markers" coords="marker.coords" options="windowOptions" show='marker.window'>
                            <div>{{marker.description}}</div>
                        </ui-gmap-window>
--></ui-gmap-google-map>
                </div>
            </div>
            <div ng-show="groundEvents.length>0" class="ui divider"></div>
            <div ng-show="groundEvents.length>0" class="ui basic segment">
                <h1>{{"main.explore" | translate}}</h1>
                <div class="ui images category-image">
                    <a href="/events/{{groundEvent.idEvents}}" ng-repeat="groundEvent in groundEvents track by $index">
                        <div dimmer on="hover" class="ui image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h4 class="ui inverted header">{{groundEvent.title}}</h4> </div>
                                </div>
                            </div> <img class="ui image ground-event" ng-src="{{groundEvent.imageURL}}"> </div>
                    </a>
                </div>
            </div>
        </div>
<!--
        <div class="ui basic segment computer-only">
            <div class="tickets-sticky ui sticky">
                <div class="book">
                    <tickets global-tickets="event.tickets"></tickets>
                    <div class="ui segment">
                        <p>{{"global.shareOnSocial" | translate}}</p>
                        <button class="ui blue icon button"> <i class="facebook icon"></i> </button>
                        <button class="ui teal icon button"> <i class="twitter icon"></i> </button>
                        <button class="ui red icon button"> <i class="google plus icon"></i> </button>
                        <button class="ui icon button"> <i class="linkify icon"></i> </button>
                    </div>
                </div>
            </div>
        </div>
-->
<!--    </div>-->
</div>