 
    <div class="ui container">
        <div class="main_search_content">
        <!--<div class="ui menu">
  
            <div class="item">
            <div class="ui action input">
              <input type="text" placeholder="Navigate to...">
                                <select ng-model="style" class="ui compact selection dropdown">
                    <option value="">Stile</option>
                    <option value="pesca">Pesca</option>
                    <option value="relax">Relax</option>
                </select>
              <div ng-click="getResults()" class="ui button">Go</div>
            </div>
          </div> 


        </div>-->
       <div class="ui fluid three item menu">
                
                <select after-render="initializeSelect()" ng-model="selectedLocation" ng-options="location for location in LOCATIONS" class="ui dropdown item">
                    <option value="">Location</option>
                </select>
                <select after-render="initializeSelect()" ng-model="selectedCategory" ng-options="category.description for category in CATEGORIES" class="ui dropdown item">
                    <option value="">Category</option>
                </select>
                

                <a href="#/events?location={{selectedLocation}}&categoryId={{selectedCategory.categoryId}}" class="item">Cerca</a>

            </div>
        </div>
        
        <div class="ui divider"></div>
        
        
        <div class="ui container">

            
            <div class="ui segment results">

                        <div class="ui four stackable cards">
            <div ng-repeat="event in events" class="ui card">
              <div class="content">
                  
                <div class="right floated"><h4></h4></div>
                    
                  <a href="#/events/{{event.idEvents}}">{{event.description}}</a>
                  
              </div>
              <div class="image">
                <img ng-src="{{event.imageURL}}">
              </div>
             
                 <div class="content">

Starting at {{event.minPrice}}€
                      <div>{{event.dateStart | date:'dd MMM'}} - {{event.dateEnd | date:'dd MMM'}}</div>
                </div>
          
            
            </div>
        </div>
                
                
  <div class="ui inverted dimmer">
    <div class="content">
      <div class="center">
        <h4 class="ui icon header">
          <i class="warning big sign icon"></i>
          No results!
        </h4>
      </div>
    </div>
  </div>
</div>
            
            
        </div>
    </div>