 <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>

<div class="ui segment">

    <h2 class="ui center aligned header">{{"invalidemail.completeData" | translate}}</h2>
    <p>
    	{{"invalidemail.lackOfData" | translate}}
    </p>

</div>



<div class="ui form">
    <div class="ui segment">
        
        <div class="field">
            <label>{{"invalidemail.email" | translate}}</label>
            <div class="ui right icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="Email" ng-model="correctEmail">
            </div>
            
        </div> 
        <div class="field" ng-show="confirmPassword">
            <label>{{"global.password" | translate}}</label>
            <div class="ui right icon input">
            <i class="password icon"></i>
            <input type="password" name="password" placeholder="Password" ng-model="correctPassword">
            </div>
            
        </div>
        
        <button ng-if="!confirmPassword" ng-click="confirmRegistration()" class="ui button primary">{{"invalidemail.completeRegistration" | translate}}</button>
        <button ng-if="confirmPassword" ng-click="confirmFacebookAccountLink()" class="ui button primary">{{"invalidemail.completeRegistration" | translate}}</button>
<div ng-if="errorMessage" class="ui  message">
  <div class="header">
    {{errorMessage}}
  </div>
 
</div>
    </div>
</div>