

<div class="login_container">
    <div class="ui container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui white image header">
      <img src="images/cropped-cropped-YWS-60x70.png" class="image">
      <div class="content">
        {{"login.singIn" | translate}}
      </div>
    </h2>
    <form ng-submit="login(credentials)" ng-keyup="$event.keyCode == 13 && login(credentials)" class="ui large form">
      <div class="ui stacked segment">
          <a href="https://www.facebook.com/dialog/oauth?client_id=484756285065008&redirect_uri={{fbRedirectUrl}}rest/auth/fbLogin&scope=email,user_birthday&state=" class="ui fluid large blue button"><i class="facebook icon"></i>Facebook</a>
           <div class="ui horizontal divider"></div>
             <div class="ui fluid large basic button"><i class="google plus icon"></i>Google</div>
         <div class="ui horizontal divider">
            {{"global.or" | translate}}
          </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" ng-model="credentials.username" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ng-model="credentials.password" placeholder="Password">
          </div>
        </div>
        <input type="submit"  class="ui fluid large blue button" value="Accedi">
      </div>

      <div ng-class="{'visible': !!error}" class="ui error message">{{error}}</div>

    </form>

    <div class="ui message">
      {{"login.forgottenPassword" | translate}} <a ng-click="closeModals()" ui-sref="resetPassword">{{"login.changePassword" | translate}}</a><br>
      {{"login.noAccountYet" | translate}}<a href ng-click="popupRegister()">{{"login.signUp" | translate}}</a>
    </div>
  </div>
</div>
</div>
</div>