<div class="main_search">

    <div class="main_search_content">
        <div class="ui container">

            <h1 class="ui header">{{"main.title" | translate}}</h1>
            <h2 class="ui header"> Scegli e personalizza la tua esperienza a prezzi mai visti prima.</h2>


            <div class="ui fluid three item menu">

                <select ng-model="selectedLocation" class="ui dropdown item">
                    <option value="">Location</option>
                    <option value="{{location}}" ng-repeat="location in LOCATIONS">{{location}}</option>
                </select>
                <select after-render="initializeSelect()" ng-model="selectedCategory" ng-options="category.description for category in CATEGORIES" class="ui dropdown item">
                    <option value="">Category</option>
                </select>


                <a href="#/events?location={{selectedLocation}}&categoryId={{selectedCategory.categoryId}}" class="item">Cerca</a>

            </div>



        </div>
    </div>

</div>


<div class="ui container">

    <div class="featured_content_container">
        <div class="featured_content">


            <h1>Le migliori proposte</h1>
            <div class="ui stackable three column grid">




                <span ng-repeat="multipleEvents in hotEvents track by $index" class="column result-cards">
                    <div ng-click="processEventClick(multipleEvents)" ng-repeat="singleEvent in multipleEvents | limitTo:1 track by $index">
            <div ng-class="{'piled-event':multipleEvents.length>1, 'non-piled-event': multipleEvents.length<2}">
            <div class="result card" >
                <div class="contents">
                    <img ng-src="{{singleEvent.imageURL}}">
                    
                </div>
                
                
                
            </div>
            <div class="ui huge blue ribbon label">
                       {{'global.from'|translate}} {{singleEvent.minPrice}}€
                        <p ng-if="multipleEvents.length>1" class="mini-dates">{{"global.otherDates" | translate}}</p>
                        
                </div>
            <div ng-if="singleEvent.lastMinute" class="last-minute-stamp">
                        <img src="images/last-minute.png">
                    </div>
            <div ng-if="singleEvent.earlyBooking" class="early-booking-stamp">
                        <img src="images/early-booking.png">
                    </div>
            <div class="event-details">
                <h2  style="color: white !important;" class="ui medium header">
                {{singleEvent.title}}
                
              
                </h2>
                
                <span>  {{singleEvent.location}}</span>
                <br>
                <span>{{singleEvent.dateStart | date:'dd MMM'}} - {{singleEvent.dateEnd | date:'dd MMM'}}</span>
            </div>


            <ship-owner ship-owner-id="singleEvent.shipOwnerId"></ship-owner>
        </div>
    </div>





    </span>




</div>




<!--
        
        <div class="ui four stackable cards">
            
  <div ng-style="{'background-image':'url({{proposal.imageURL}})'}" style="background-repeat:no-repeat; background-size: cover; color: white !important; height: 300px;"  ng-repeat="proposal in hotEvents" class="card">
      <div class="content">
    <a href="/#/events/{{proposal.idEvents}}" style="color: white !important;" class="header">{{proposal.description}}</a>
    <div style="color: white !important;" class="meta">{{proposal.dateStart | date:'dd MMM'}} - {{proposal.dateEnd | date:'dd MMM'}}</div>
    <div style="color: white !important;" class="meta">{{proposal.minPrice}}€<span ng-if="proposal.minPrice != proposal.maxPrice"> - {{proposal.maxPrice}}€</span></div>
    <div style="color: white !important;" class="meta">{{getCategory(proposal.categoryId)}}</div>
    <div style="color: white !important;" class="description">
    {{proposal.location}}
    </div>
  </div>


  </div>
</div>
-->










<h1>Esplora</h1>
<div class="ui stackable four column grid">

    <div class="ui fluid medium bordered rounded images" ng-repeat="category in CATEGORIES track by $index">
        <a href="/#/events?categoryId={{category.categoryId}}" ng-if="!!category.url">
            <img ng-src="{{category.url}}">
        </a>
    </div>

    <!--

    <span ng-repeat="category in CATEGORIES track by $index" class="column result-cards">
                  
                  
                  <a href="/#/events?categoryId={{category.categoryId}}" ng-if="!!category.url"  >
           
            <div class="result card" >
                <div class="contents">
                    <img ng-src="{{category.url}}">
                  
                      </div>
                
                
                
            </div>
        
           
            
            <div class="event-details">
                <h2  style="color: white !important;" class="ui center aligned medium header">
                {{category.description}}
                </h2>
                
                </div>
          
            
           
        </a>
                    
                    
                    
                 
   
                </span>
-->




</div>


</div>
</div>
</div>


<div class="why_us">

    <h1 class="ui center aligned header">Perchè scegliere YesWeSail</h1>
    <div class="ui container">
        <div class="ui three column grid">
            <div class="row">
                <div class="column">
                    <div class="ui medium image">
                        <img src="http://www.yeswesail.com/wp-content/uploads/2016/02/miglior-prezzo.png">
                    </div>
                    <div class="middle aligned content">
                        <h2 class="header"> Miglior prezzo garantito</h2>
                        <div class="description">
                            Nasce il primo sistema di early booking per risparmiare sulle vacanze in barca.
                        </div>

                    </div>
                </div>
                <div class="column">
                    <div class="item">
                        <div class="ui medium image">
                            <img src="http://www.yeswesail.com/wp-content/uploads/2016/02/pagamenti-sicuri.png">
                        </div>
                        <div class="middle aligned content">
                            <h2 class="header">Pagamenti sicuri</h2>
                            <div class="description">
                                Il pagamento avviene su canali sicuri e criptati e la quota viene versata allo skipper entro 24 ore dalla partenza.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui medium image">
                        <img src="http://www.yeswesail.com/wp-content/uploads/2016/02/servizio-personlizato.png">
                    </div>
                    <div class="middle aligned content">
                        <h2 class="header">Servizio completamente personalizzabile</h2>
                        <div class="description">
                            Possibilità di personalizzare la vacanza con attività turistiche a terra.
                        </div>

                    </div>
                </div>
            </div>
            <div class="row centered">
                <div class="column"><span class="ui large header"><a href="#/howitworks">Scopri come funziona!</a></span></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>









    <!--
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <img src="http://www.yeswesail.com/wp-content/uploads/2016/03/cropped-cropped-YWS-60x70.png" class="ui centered image">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Società</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Chi siamo</a>
                        <a href="#/howitworks" class="item">Come funziona</a>
                        <a href="#" class="item">Contatti</a>

                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Note legali</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Termini e condizioni</a>
                        <a href="#" class="item">Noleggio occasionale</a>
                        <a href="#" class="item">Privacy Utente-Cliente</a>
                        <a href="#" class="item">Privacy YesWeSail Utente - Organizzatore</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Social</h4>
                    <p>TODO - Insert social Icons</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="http://www.yeswesail.com/wp-content/uploads/2016/03/cropped-cropped-YWS-60x70.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
-->