

<div class="register_container">
    <div class="ui container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui white image header">
      <img src="images/cropped-cropped-YWS-60x70.png" class="image">
      <div class="content">
		{{"register.joinUs" | translate}}
      </div>
    </h2>
    <form ng-submit="register(credentials)" class="ui large form">
      <div class="ui stacked segment">
             <a href="https://www.facebook.com/dialog/oauth?client_id=484756285065008&redirect_uri=http://yeswesail.ddns.net:8080/YesWeSail/rest/auth/fbLogin&scope=email,user_birthday&state=" class="ui fluid large blue button"><i class="facebook icon"></i>Facebook</a>
    
           <div class="ui horizontal divider"></div>
             <div class="ui fluid large basic button"><i class="google plus icon"></i>Google</div>
         <div class="ui horizontal divider">
            {{"global.or" | translate}}
          </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" ng-model="credentials.firstName" name="name" placeholder="Nome">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" ng-model="credentials.lastName" name="lastname" placeholder="Cognome">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" ng-model="credentials.username" name="email" placeholder="Indirizzo email">
          </div>
        </div>
          
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" ng-model="credentials.password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" class="ui fluid large blue button" value="Registrati">
      </div>

      <div ng-class="{'visible': error}" class="ui error message">{{error}}</div>

    </form>

    <div class="ui message">
      {{"register.memberAlready" | translate}}<a href ng-click="popupLogin()">{{"register.access" | translate}}</a>
    </div>
  </div>
</div>
</div>
</div>