<div class="ui container sailor-registration">


    <form  class="ui form">
        <h4 class="ui dividing header">Reset your password</h4>
        <div class="field">
            <label>Email</label>
            <div class="field">
                <input type="text" ng-required="true" ng-model="credentials.username" placeholder="Email...">
            </div>
        </div>

        <div class="field">
            <label>Nuova Password</label>
            <div class="field">
                <input type="password" ng-required="true" ng-model="credentials.password" placeholder="Inserisci la nuova password...">
            </div>
        </div>

        <div class="field">
            <button class="ui blue button" ng-click="resetPassword(credentials)">Reset Password</button>
        </div>
        <div ng-if="successMessage" class="ui positive message">
          <i class="close icon"></i>
          <div class="header">
             {{successMessage}}
            </div>
        </div> 
        <div ng-if="errorMessage" class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            {{errorMessage}}
            </div>
        </div>

    </form>
</div>
