<div class="ui container sailor-registration">
    <form class="ui form" name="passwordResetForm" ng-submit="passwordResetForm.$valid && resetPassword(credentials)">
        <h4 class="ui dividing header">{{"resetPassword.reset" | translate}}</h4>
        <div class="field">
            <label>Email</label>
            <div class="field" ng-class="{'error': passwordResetForm.email.$invalid && passwordResetForm.email.$dirty}">
                <input type="email" ng-required="true" ng-model="credentials.username" name="email" placeholder="Email..."> </div>
        </div>
        <div class="field" ng-class="{'error': passwordResetForm.password.$invalid  && passwordResetForm.password.$dirty}">
            <label>{{"resetPassword.new" | translate}}</label>
            <div class="field">
                <div class="ui left icon input">
                    <input type="{{inputType}}" ng-required="true" ng-model="credentials.password" name="password" placeholder='{{"resetpassword.placeholder.password" | translate}}'> 
                    <i title="Display password" class="link icon" ng-class="{'unhide': inputType==='password', 'hide': inputType==='text'}" ng-click="togglePassword()"></i> </div>
            </div>
        </div>
        <div class="field" ng-class="{'error': passwordResetForm.confirmPassword.$invalid && passwordResetForm.confirmPassword.$dirty || credentials.password!=confirmPassword && passwordResetForm.confirmPassword.$dirty}">
            <label>{{"resetPassword.confirm" | translate}}</label>
            <div class="field">
                <div class="ui left icon input">
                    <input type="{{inputType}}" ng-required="true" ng-model="confirmPassword" name="confirmPassword" placeholder='{{"resetpassword.placeholder.password" | translate}}'>
                    <i title="Display password" class="link icon" ng-class="{'unhide': inputType==='password', 'hide': inputType==='text'}" ng-click="togglePassword()"></i>
                </div>
        </div>
        </div>
        <div class="field">
            <input type="submit" class="ui blue button" value="{{'resetPassword.resetButton' | translate}}"> </div>
        <div ng-if="successMessage" class="ui positive message"> <i class="close icon"></i>
            <div class="header"> {{successMessage}} </div>
        </div>
        <div ng-if="errorMessage" class="ui negative message"> <i class="close icon"></i>
            <div class="header"> {{errorMessage}} </div>
        </div>
    </form>
</div>