<div class="ui container sailor-registration">


    <form  class="ui form" name="passwordResetForm" ng-submit="resetPassword(credentials)">
        <h4 class="ui dividing header">{{"resetPassword.reset" | translate}}</h4>
        <div class="field">
            <label>Email</label>
            <div class="field" ng-class="{'error': passwordResetForm.email.$invalid}">
                <input type="email" ng-required="true" ng-model="credentials.username" name="email" placeholder="Email...">
            </div>
        </div>

        <div class="field" ng-class="{'error': passwordResetForm.password.$invalid}">
            <label>{{"resetPassword.new" | translate}}</label>
            <div class="field">
                <input type="password" ng-required="true" ng-model="credentials.password" name="password" placeholder='{{"resetpassword.placeholder.password" | translate}}'>
            </div>
        </div>

        <div class="field">
            <input type="submit" class="ui blue button" value="{{'resetPassword.resetButton' | translate}}">
        </div>
        <div ng-if="successMessage" class="ui positive message">
          <i class="close icon"></i>
          <div class="header">
             {{successMessage}}
            </div>
        </div> 
        <div ng-if="errorMessage" class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            {{errorMessage}}
            </div>
        </div>

    </form>
</div>
