<div class="tickets-container">
    <div class="ui info message" ng-class="{'hidden': globalTickets[0].length>0}"> {{"tickets.soldout" | translate}} </div>
<!--
    <table ng-if="globalTickets[0].length>0" class="ui very basic celled table computer-only">
        <thead>
            <tr class="non-clickable">
                <th>{{"tickets.type" | translate}}</th>
                <th classs="center aligned">{{"tickets.available" | translate}}</th>
                <th class="five center aligned wide"><i class="user icon"></i></th>
                <th class="four center aligned wide"><i class="user icon"></i><i class="user icon"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tickets in globalTickets track by $index" ng-if="availableTickets(tickets) > 0">
                <td class="non-clickable">{{tickets[0].description}} </td>
                <td class="center aligned non-clickable">{{availableTickets(tickets)}} </td>
                <td class="add-to-cart" ng-click="confirmAddToCart(tickets, 'single')">{{tickets[0].price}}€<i class="add to cart icon"></i></td>
                <td ng-if="calculatePrice(tickets)" class="add-to-cart" ng-click="confirmAddToCart(tickets, 'double')">{{calculatePrice(tickets)}}<span>€<i class="add to cart icon"></i></span></td>
            </tr>
        </tbody>
    </table>
-->
<!--    <div class="ui equal width center aligned padded grid mobile-only">-->
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="blue seven wide column"> {{"tickets.type" | translate}} </div>
            <div class="blue column"> {{"tickets.available" | translate}} </div>
            <div class="blue column"> <i class="user icon"></i> </div>
            <div class="blue column"> <i class="user icon"></i><i class="user icon"></i> </div>
        </div>
        <div ng-repeat="tickets in globalTickets track by $index" ng-if="availableTickets(tickets) > 0" class="row" style="background-color: #82BEEC; color: #FFFFFF;">
             <div class="non-clickable seven wide column">{{tickets[0].description}} </div>
             <div class="center aligned non-clickable  column">{{availableTickets(tickets)}} </div>
             <div class="add-to-cart column" ng-click="confirmAddToCart(tickets, 'single')">{{tickets[0].price}}€<i class="add to cart icon"></i></div>
             <div class="add-to-cart column" ng-click="confirmAddToCart(tickets, 'double')">{{calculatePrice(tickets)}}<span ng-if="calculatePrice(tickets)">€<i class="add to cart icon"></i></span></div>
        
        </div>
        
    </div>
    <button ui-sref="cart" class="ui blue button" ng-hide="globalTickets[0].length>0">{{"tickets.goToCart" | translate}}</button>
</div>