<div class="tickets-container">
<table class="ui very basic  celled table">
  <thead>
    <tr><th>Ticket Type</th>
    <th  class="five center aligned wide"><i class="user icon"></i></th>
    <th class="four center aligned wide"><i class="user icon"></i><i class="user icon"></i></th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="tickets in globalTickets track by $index">
     
        <td>{{tickets[0].description}} </td>
        <td class="add-to-cart" ng-click="addToCart(tickets, 'single')">{{tickets[0].price}}€<i class="add to cart icon"></i></td>
        <td ng-if="calculatePrice(tickets)" class="add-to-cart" ng-click="addToCart(tickets, 'double')">{{calculatePrice(tickets)}}<span >€<i class="add to cart icon"></i></span></td>
        
    </tr>
    
  </tbody>
</table>
</div>