

<div class="login_container">
    <div class="ui container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui white image header">
      <div class="content">
        Confermi di acquistare il biglietto selezionato?
      </div>
    </h2>
      
      <div class="ui large blue button" ng-click="addToCart(selectedTickets, selectedCabinType)">Add to cart</div>
      <div class="ui large button" ng-click="closeModals()">Cancel</div>

  
  </div>
</div>
</div>
</div>