<div class="ui container">
<div class="ui stackable two column grid">
    <div class="three wide column">

        <div class="ui segment">
            <h2   class="ui icon header">
          <span ngf-select="uploadProfilePic($files)" ngf-drop="" ng-model="files" ng-disabled="!isOwner" ngf-drag-over-class="dragOver" ng-class="{'image-select': isOwner}">
                <img class="ui small image" ng-if="!!user.imageURL" ng-src="{{user.imageURL}}">
                <img class="ui small image" ng-if="!!!user.imageURL" ng-src="images/default-icon.jpg">
                <div class="change-image-message">Click to change your image</div>      
            </span>
          <div class="content">
            {{user.name}} {{user.surname}}
              <div class="ui divider"></div>
            <div ng-if="user.isShipOwner" class="sub header"><div class="ui large blue label">Armatore</div></div>
          </div>
                
        </h2>
            <div ng-if="isOwner || isAdmin" class="ui divider"></div>
<!--
              <button ng-if="isOwner || isAdmin" class="ui button" ng-class="{'blue': !editMode, 'green': editMode}" ng-click="editMode ? saveChanges() : enterEditMode()">
            <span ng-if="!editMode">Edit Profile</span><span ng-if="editMode">Save Profile</span> 
        </button>
-->
<!--            <div class="ui divider"></div>-->
            <div class="ui icon buttons">
                <a href="https://www.facebook.com/{{user.facebook}}" class="ui blue button"><i class="facebook icon"></i></a>
                <a href="https://www.twitter.com/{{user.twitter}}" class="ui blue button"><i class="twitter icon"></i></a>
                <a href="https://www.google.com/{{user.google}}" class="ui red button"><i class="google icon"></i></a>
                <a href="mailTo:{{user.email}}" class="ui button"><i class="mail icon"></i></a>
            </div>
            <div class="ui divider"></div>
            <!--            ng-if="!!user.languagesSpoken"-->
            <span ng-if="user.languagesSpoken">
            <h3>Languages</h3>
            <i ng-repeat="language in user.languagesSpoken.split(',')" class="{{language}} flag"></i>
            </span>
        </div>



    </div>
    <div class="thirteen wide column">
        
<div ng-if="isAdmin || isOwner || user.isShipOwner" class="ui anchor-menu sticky attached stackable menu">
    <div class="ui container">
        <a class="item" ui-sref="userId.profile">
            <i class="home icon"></i> Profile
        </a>
        <a ng-if="isAdmin || user.isShipOwner" class="item" ui-sref="userId.boats">
            <i class="grid layout icon"></i> Boats
        </a>
        <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.documents">
            <i class="mail icon"></i> Documents
        </a>
        <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.info">
            <i class="mail icon"></i> Personal Info
        </a>
        <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.events">
            <i class="mail icon"></i> My Events
        </a>
            </div>
</div>
        <div class="ui segment">
            <div ui-view></div>
            
            
         
            
        </div>
    </div>
</div>
</div>
