    <div ng-if="isAdmin || isOwner || user.isShipOwner" class="ui anchor-menu sticky attached stackable menu">
        <div class="ui container">
            <a class="item" ui-sref="userId.profile"> <i class="home icon"></i> {{"user.profile" | translate}} </a>
            <a ng-if="isAdmin || user.isShipOwner" class="item" ui-sref="userId.boats"> <i class="grid layout icon"></i> {{"user.boats" | translate}} </a>
            <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.documents"> <i class="mail icon"></i> {{"user.documents" | translate}} </a>
            <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.info"> <i class="mail icon"></i> {{"user.personalInfo" | translate}} </a>
            <a ng-if="isAdmin || isOwner" class="item" ui-sref="userId.events"> <i class="mail icon"></i> {{"user.myEvents" | translate}} </a>
        </div>
    </div>
    <div class="ui container">
        <div ui-view></div>
    </div>
