   <div class="ui basic segment">
            <h2   class="ui middle aligned icon header">
          <span ngf-select="uploadProfilePic($files)" ngf-drop="" ng-model="files" ng-disabled="!isOwner && isAdmin" ngf-drag-over-class="dragOver" ng-class="{'image-select': isOwner}">
                <img class="ui small image middle aligned" ng-if="!!user.imageURL" ng-src="{{user.imageURL}}">
                <img class="ui small image middle aligned" ng-if="!!!user.imageURL" ng-src="images/default-icon.jpg">
                <div class="change-image-message">{{"user.changeProfileImage" | translate}}</div>      
            </span>
          <div class="content">
            {{user.name}} {{user.surname}}
              <div class="ui divider"></div>
            <div ng-if="user.isShipOwner" class="sub header"><div class="ui large blue label">{{"user.shipOwner" | translate}}</div></div>
              
                            
          </div>
                
        </h2>
            <div class="reputation ui star rating"></div> {{reputation.populationSize}} {{"user.feedback" | translate}}
            <div ng-if="isOwner || isAdmin" class="ui divider"></div>
<!--
              <button ng-if="isOwner || isAdmin" class="ui button" ng-class="{'blue': !editMode, 'green': editMode}" ng-click="editMode ? saveChanges() : enterEditMode()">
            <span ng-if="!editMode">Edit Profile</span><span ng-if="editMode">Save Profile</span> 
        </button>
-->
<!--            <div class="ui divider"></div>-->
            <div class="ui icon buttons">
                <a ng-if="user.facebook" href="https://www.facebook.com/{{user.facebook}}" target="_blank" class="ui blue button"><i class="facebook icon"></i></a>
                <a ng-if="user.twitter" href="https://www.twitter.com/{{user.twitter}}" class="ui blue button"><i class="twitter icon"></i></a>
                <a ng-if="user.google" href="https://www.google.com/{{user.google}}" class="ui red button"><i class="google icon"></i></a>
                <a ng-if="user.email" href="mailTo:{{user.email}}" class="ui button"><i class="mail icon"></i></a>
            </div>
            <div class="ui divider"></div>
            <!--            ng-if="!!user.languagesSpoken"-->
            <span ng-if="user.languagesSpoken">
            <h3>{{"user.spokenLanguages" | translate}}</h3>
            <i ng-repeat="language in user.languagesSpoken.split(',')" class="{{language}} flag"></i>
            </span>
        </div>


<h3 class="ui dividing header">{{"userid.profile.aboutMe" | translate}}</h3>
<div class="ui basic segment">
    <p ng-if="!isOwner">{{user.about}}</p>
    
    <div ng-if="isOwner"  class="ui form">
        <div class="field">
            <textarea ng-model="user.about"></textarea>
        </div>
    <button class="ui blue button" ng-click="updateUser(user)">Salva</button>
    </div>
</div>
<div class="ui comments">
    <h3 class="ui dividing header">{{"user.reviews" | translate}}</h3> <span ng-if="!!!reviews">{{"user.noReviewsSubmitted" | translate}}</span>
    <div class="comment" ng-repeat="review in reviews" ng-class="{'not-approved': review.status=='P', 'rejected': review.status=='R'}">
        <a class="avatar"> <img ng-if="!!review.reviewerURL" ng-src="{{review.reviewerURL}}"> <img ng-if="!!!review.reviewerURL" src="images/default-icon.jpg"> </a>
        <div class="content"> <a href="/users/{{review.reviewerId}}" class="author">{{review.reviewerName}} {{review.reviewerSurname}}</a>
            <div class="metadata"> <span class="date">{{review.created | date: 'EEEE, MMMM d, y h:mm:ss a'}}</span>
                <div class="rating"> <i class="star icon"></i> {{review.rating}} {{"user.reviewStars" | translate}} </div>
            </div>
            <div class="text">
                <!--                            <div class="ui comment star rating" data-rating="{{review.rating}}"></div> - -->{{review.review}} </div>
        </div>
    </div>
    <form class="ui reply form" ng-if="!isOwner">
        <div class="field">
            <textarea ng-model="tempReview.review"></textarea>
        </div>
        <div class="field">
            <div class="ui new star rating" data-rating="3"></div>
        </div>
        <div class="ui blue labeled icon button" ng-class="{'disabled': !tempReview.review}" ng-click="addReview(tempReview)"> <i class="icon edit"></i> {{"user.addReview" | translate}} </div>
    </form>
</div>