<div class="ui stackable two column grid">
    <div class="three wide column">

        <div class="ui segment">
            <h2 class="ui icon header">
          <img class="ui small circular image" ng-src="{{user.imageURL}}">
          <div class="content">
            {{user.name}} {{user.surname}}
              <div class="ui divider"></div>
            <div ng-if="user.isShipOwner" class="sub header">Armatore</div>
          </div>
                
        </h2>
            <div class="ui icon buttons">
                <a href="https://www.facebook.com/{{user.facebook}}" class="ui blue button"><i class="facebook icon"></i></a>
                <a href="https://www.twitter.com/{{user.twitter}}" class="ui blue button"><i class="twitter icon"></i></a>
                <a href="https://www.google.com/{{user.google}}" class="ui red button"><i class="google icon"></i></a>
                <a href="mailTo:{{user.email}}" class="ui button"><i class="mail icon"></i></a>
            </div>
            <div class="ui divider"></div>
            <!--            ng-if="!!user.languagesSpoken"-->
            <span>
            <h3>Languages</h3>
            </span>
            <i ng-repeat="language in user.languagesSpoken.split(',')" class="{{language}} flag"></i>
        </div>



    </div>
    <div class="thirteen wide column">
        
<div class="ui anchor-menu sticky attached stackable menu">
    <div class="ui container">
        <a class="item" ng-click="goToSection('gallery')">
            <i class="home icon"></i> Profile
        </a>
        <a class="item"  ng-click="goToSection('partecipants')">
            <i class="grid layout icon"></i> Boats
        </a>
        <a class="item"  ng-click="goToSection('logistics')">
            <i class="mail icon"></i> Documents
        </a>
        <a class="item"  ng-click="goToSection('location')">
            <i class="mail icon"></i> Personal Info
        </a>
        <a class="item"  ng-click="goToSection('package')">
            <i class="mail icon"></i> Events
        </a>

    </div>
</div>
        <div class="ui segment">
            <div ui-view></div>
            
            
         
            
        </div>
    </div>
</div>
